<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script>

var app = angular.module("myApp", []); 
app.controller("myCtrl", ['$scope', '$window', function($scope, $window){
  //$scope.products = ["Milk", "Bread", "Cheese"];
    $scope.loginSubmit = function (){
	 if ($scope.user.username) {    
                    $window.location.href = '/home.html';
                }
                else{
                    alert('Login incorrect');
            }
	}

  
}]);

  </script>
  
  <style>
body {
    background: url('https://images.unsplash.com/photo-1534408679207-69b9615e55a7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=cfbabd80cd2d5cae495a2a732d473562') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
  width: 300px;
}

.nav-item .nav-link[disabled]:hover {
  
}
  
  </style>
</head>
<body ng-controller="myCtrl">
<div class="container mt-5 pt-5">
  <div class="card mx-auto border-0">
    <div class="card-header border-bottom-0 bg-transparent">
      <ul class="nav nav-tabs justify-content-center pt-4" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active text-primary" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login"
             aria-selected="true">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-primary" id="pills-register-tab" data-toggle="pill" href="#pills-register" role="tab" aria-controls="pills-register"
             aria-selected="false">Register</a>
        </li>
      </ul>
    </div>

    <div class="card-body pb-4">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
          <form>
            <div class="form-group">
              <input type="text" name="username" class="form-control" id="username" ng-model="user.username" placeholder="Username" required autofocus>
            </div>

            <div class="form-group">
              <input type="password" name="password" class="form-control" id="password" id="password" ng-model="user.password" placeholder="Password" required>
            </div>

            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="customCheck1" checked="" type="checkbox">
              <label class="custom-control-label" for="customCheck1">Check me out</label>
            </div>

            <div class="text-center pt-4">
              <button type="submit" class="btn btn-primary" ng-click="loginSubmit();">Login</button>
            </div>

            <div class="text-center pt-2">
              <a class="btn btn-link text-primary" href="#">Forgot Your Password?</a>
            </div>
          </form>
        </div>

        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
          <form>
            <div class="form-group">
              <input type="text" name="username" id="name" class="form-control" placeholder="Username" required autofocus>
            </div>

            <div class="form-group">
              <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
            </div>

            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control" placeholder="Set a password" required>
            </div>

            <div class="form-group">
              <input type="password" name="password_confirmation" id="password-confirm" class="form-control" placeholder="Confirm password" required>
            </div>

            <div class="text-center pt-2 pb-1">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>
