<div >
<div class="col-md-12">
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab"  bind-attr="CustomerInvoice" role="tab" ng-click="navRedirect($event)">Customer Invoice</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="VendorInvoice" role="tab" ng-click="navRedirect($event)">Vendor Invoice</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="Receipt" role="tab" ng-click="navRedirect($event)">View</a>
	</li>
</ul><!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="CustomerInvoice" role="tabpanel">
	<h4 style="display:none;">Customer Invoice</h4>
<div  >
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="row" style="margin-top: 1%;">
		  <div class="col-10">
		 <!--  <div class="filterDiv"  style="display:none;"> </div>  -->
		  <div id="uploadDiv" class="col-12 filterDiv" style="display:none;">
			<form method="post" action="#" id="#">
				<div class="form-group files">
					<input type="file" class="form-control" multiple="">
				</div>
				<div class="row">
				<div class="col-12">
				<input name="" type="button" class="btn btn-dark" id="" value="Close" style="margin-left: 1%;float: right;margin-top: 1%;" ng-click="closeUpload()"/>
				<input name="" type="button" class="btn btn-dark" id="" value="Submit" style="margin-left: 1%;float: right;margin-top: 1%;" ng-click="submitUpload()"/>
				</div></div>
			</form>
		</div>
		  </div>
		 <div class="col-2">
			<input name="" type="button" class="btn btn-primary" id="" value="Upload"  ng-click="openUpload()" style="float: right;"/></div>
		</div>
<div class="filterDiv">
<div class="row">
  <div class="col-3">

	 <labl class="col-12"><b>LR NO </b></labl>
           <input type="text"  ng-model="customerName" class="form-control col-12" placeholder="Customer Name" />  
  </div>
  <div class="col-3">
	  <label class="col-12"><b>ORIGIN </b></label>
	<input list="origins" name="orgin" class="form-control col-12" >
  <datalist id="origins">
    <option value="NEMAM">NEMAM</option>
    <option value="CHROMEPET">CHROMEPET</option>
    <option value="POOCHIATHIPATTU">POOCHIATHIPATTU</option>
    <option value="TVS-PADI">TVS-PADI</option>
  </datalist>
  
  </div>
  <div class="col-3">
	<label class="col-12"><b>DESTINATION </b></label>
	<input list="destinations" name="destination" class="form-control col-12" >
  	<datalist id="destinations">
    <option value="POOCHIATHIPATTU">POOCHIATHIPATTU</option>
    <option value="CHROMEPET">CHROMEPET</option>
    <option value="GUINDY">GUINDY</option>
    <option value="RED HILLS">RED HILLS</option>
	<option value="CHROMEPET">CHROMEPET</option>
    <option value="VADAPALANI">VADAPALANI</option>
    <option value="MYLAPORE">MYLAPORE</option>
	<option value="SPI CINEMAS">SPI CINEMAS</option>
    <option value="ADYAR">ADYAR</option>
    <option value="ALANDUR">ALANDUR</option>
	<option value="KOVALAM">KOVALAM</option>
    <option value="PUZHAL">PUZHAL</option>
    <option value="CHENNAI">CHENNAI</option>
  </datalist>
  
  </div>
   <div class="col-3">
	  <label class="col-12"><b>VEHICLE TYPE </b></label>
	<select ng-model="vehicleType"  class="form-control col-12" >
  	<option value="">Select VehicleType</option>
	<option>LCV2</option>
	<option>LCV4</option>
	<option>CAN6</option>
	<option>HCV9</option>
	<option>TARUS</option>
	<option>TRALIER</option></select>
	</div>
</div> 
<div class="row" style="margin-top: 1%;">
 <div class="col-3">
<label class="col-12"><b>FROM </b></label>
  
  <div class="input-group date" id="datetimepicker_fromdate" data-target-input="nearest">
     <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_fromdate" placeholder="From Date"/>
        <div class="input-group-append" data-target="#datetimepicker_fromdate" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		</div>
		</div>
	</div>


	 <div class="col-3">
	  <label class="col-12"><b>TO </b></label>
	  <div class="input-group date" id="datetimepicker_todate" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_todate" placeholder="To Date"/>
        <div class="input-group-append" data-target="#datetimepicker_todate" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

  </div>
  <div class="col-3">
		<label class="col-12"><b>VEHICLE NO </b></label>
		<input type="text"  ng-model="vehicleNumber" class="form-control col-12" placeholder="Vehicle Number" />  
	 </div>
     <div class="col-3">

		<input name="" type="button" class="btn btn-dark" id="" value="Search" style="margin-top:9%">
	 </div> 
 </div>
 <div class="row" style="margin-top: 1%;" ng-if="$scope.customerInvoiceJson !=''">

<div class="col-3">
	<label class="col-12"><b>Per Kms Charge </b></label>
	<input type="number"  ng-model="perKms" class="form-control col-12" placeholder="Per Kms Charge" />
</div> 
<div class="col-3">
	<label class="col-12"><b>Fixed Cost</b></label>
	<input type="number"  ng-model="fixedCost" class="form-control col-12" placeholder="Fixed Cost" />
</div>
<div class="col-3">
	<input name="" type="button" class="btn btn-dark" id="" value="Add" ng-click="addKmsandFixed(perKms,fixedCost)" style="margin-top:9%">
</div>

</div></div>
 <div class="row" style="margin-top: 1%;">

<table class="table table-bordered table-hover table-striped"  >
							<thead>
								<tr>
									<th width="15%">LRNO</th>
									<th width="15%">Date</th>
									<th width="15%">InvoiceNo</th>
									<th width="15%">Origin</th>
									<th width="15%">CustomerName</th>
									<th width="15%">Destination</th>
									<th width="15%">TruckNo</th>
									<th width="15%">TruckType</th>
									<th width="15%">No of case</th>
									<th width="15%">OP Kms</th>
									<th width="15%">Cls Kms</th>
									<th width="15%">Total kms</th>
									<th width="15%">For kms 6.5</th>
									<th width="15%">TRType Fixed</th>
									<th width="15%">Advance</th>
									<th width="15%">Grand Total</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="invoice in  customerInvoiceJson track by $index">
										<td><label>{{invoice.LRNO}}</label></td>
										<td><label>{{invoice.date}}</label></td>
										<td><label>{{invoice.invoiceNo}}</label></td>
										<td><label>{{invoice.origin}}</label></td>
										<td><label>{{invoice.customerName}}</label></td>
										<td><label>{{invoice.destination}}</label></td>
										<td><label>{{invoice.truckNo}}</label></td>
										<td><label>{{invoice.truckType}}</label></td>
										<td><label>{{invoice.noOfCase}}</label></td>
										<td><label>{{invoice.opKms}}</label></td>
										<td><label>{{invoice.clsKms}}</label></td>
										<td><label>{{invoice.totalkms}}</label></td>
										<td><label>{{invoice.forKms}}</label></td>
										<td><label>{{invoice.tRTypeFixed}}</label></td>
										<td><label>{{invoice.advance}}</label></td>
										<td><label>{{invoice.grandTotal}}</label></td>
										
										<td> <!--<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>-->
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-click="removeInvoice($index)"></i> </td>
								</tr>
							</tbody>
						</table>
 </div>
 
</div>
		      			
		      		</div>
					<div class="pull-right">
					<input name="" type="button" class="btn btn-primary" id="" value="Print" style="margin-left: -20%;">
					<input name="" type="button" class="btn btn-primary" id="" value="Submit" style="margin-left: -1%;">
					<input name="" type="button" class="btn btn-primary" id="" ng-click="calculateTotal()" value="Calculate" style="margin-left: -1%;">
					</div>
					<div class="row col-12">
					<div class="col-2"></div>
					 <div class="col-8">
					 <table class="table table-bordered ">
					 <thead>
					 <tr><th colspan="3" class="textCenter"><label>S.SARAVANAN ENTERPRISES</label></th></tr>
					 <tr><th colspan="3" class="textCenter"><label>VEHICLE NO:</label></th></tr>
					</thead>
					<tbody>
					<tr>
					<td width="30%"><label class="labeltext">TOTAL KM</label></td>
					<td width="30%" class="textCenter"><label ng-bind="totalKM"></label></td>
					<td width="30%" class="textCenter"><label ng-bind="addChargeKm"></label></td>
					</tr>
					<tr>
					<td><label class="labeltext">TRIP</label></td>
					<td  class="textCenter"><label ng-bind="customerInvoiceJson.length"></label></td>
					<td class="textCenter"><label ng-bind="totalFixed"></label></td>
					</tr>
					<tr>
					<td><label class="labeltext">TOLL BILL</label></td>
					<td class="textCenter"><label></label></td>
					<td class="textCenter"><input type="number"  ng-model="tollBill" class="form-control col-5" placeholder="" /></td>
					</tr>
					<tr>
					<td colspan='2' class="textCenter"><label class="labeltext">TOTAL</label></td>
					<td><label ng-bind="totalCust"></label></td>
					</tr>
					<tr>
					<td colspan='2'><label class="labeltext">LEAKAGE/BREAKAGE</label></td>
					<!-- <td><label></label></td> -->
					<td class="textCenter"><label><input type="number"  ng-model="leakage" class="form-control col-5" placeholder="" /></label></td>
					</tr>
					<!-- <tr>
					<td colspan='2' class="textCenter"><label class="labeltext">TOTAL</label></td>
					<td class="textCenter"><label ng-bind="totalCust"></label></td></tr>
					<tr> 
					<td><label></label></td>
					<td><label></label></td>
					<td><label></label></td>
					</tr>-->
					<tr>
					<td colspan='2' class="textCenter"><label class="labeltext">GRAND TOTAL</label></td>
					<!-- <td class="textCenter"><label></label></td> -->
					<td class="textCenter"><label></label></td>
					</tr>
					</tbody>
					 </table>
					 
					 </div>
					 <div class="col-2"></div>
					 </div>
 
 
</div>



<div class="tab-pane" id="VendorInvoice" role="tabpanel">
<h4>Vendor Invoice</h4>
<div >
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<div class="row" style="margin-top: 1%;">
		  <div class="col-10">
		  <div id="uploadVendorDiv" class="col-12 filterDiv" style="display:none;">
			<form method="post" action="#" id="#">
				<div class="form-group files">
					<input type="file" class="form-control" multiple="">
				</div>
				<div class="row">
				<div class="col-12">
				<input name="" type="button" class="btn btn-dark" id="" value="Close" style="margin-left: 1%;float: right;margin-top: 1%;" ng-click="closeVendorUpload()"/>
				<input name="" type="button" class="btn btn-dark" id="" value="Submit" style="margin-left: 1%;float: right;margin-top: 1%;" ng-click="submitvendorUpload()"/>
				</div></div>
			</form>
		</div>
		  </div>
		 <div class="col-2">
			<input name="" type="button" class="btn btn-primary" id="" value="Upload"  ng-click="openVendorUpload()" style="float: right;"/></div>
		</div>
<div class="filterDiv">
<div class="row">
  <div class="col-3">

	 <labl class="col-12"><b>LR NO </b></labl>
           <input type="text"  ng-model="customerName" class="form-control col-12" placeholder="Customer Name" />  
  </div>
  <div class="col-3">
	  <label class="col-12"><b>ORIGIN </b></label>
	<input list="origins" name="orgin" class="form-control col-12" >
  <datalist id="origins">
    <option value="NEMAM">NEMAM</option>
    <option value="CHROMEPET">CHROMEPET</option>
    <option value="POOCHIATHIPATTU">POOCHIATHIPATTU</option>
    <option value="TVS-PADI">TVS-PADI</option>
  </datalist>
  
  </div>
  <div class="col-3">
	<label class="col-12"><b>DESTINATION </b></label>
	<input list="destinations" name="destination" class="form-control col-12" >
  	<datalist id="destinations">
    <option value="POOCHIATHIPATTU">POOCHIATHIPATTU</option>
    <option value="CHROMEPET">CHROMEPET</option>
    <option value="GUINDY">GUINDY</option>
    <option value="RED HILLS">RED HILLS</option>
	<option value="CHROMEPET">CHROMEPET</option>
    <option value="VADAPALANI">VADAPALANI</option>
    <option value="MYLAPORE">MYLAPORE</option>
	<option value="SPI CINEMAS">SPI CINEMAS</option>
    <option value="ADYAR">ADYAR</option>
    <option value="ALANDUR">ALANDUR</option>
	<option value="KOVALAM">KOVALAM</option>
    <option value="PUZHAL">PUZHAL</option>
    <option value="CHENNAI">CHENNAI</option>
  </datalist>
  
  </div>
   <div class="col-3">
	  <label class="col-12"><b>VEHICLE TYPE </b></label>
	<select ng-model="vehicleType"  class="form-control col-12" >
  	<option value="">Select VehicleType</option>
	<option>LCV2</option>
	<option>LCV4</option>
	<option>CAN6</option>
	<option>HCV9</option>
	<option>TARUS</option>
	<option>TRALIER</option></select>
	</div>
</div> 
<div class="row" style="margin-top: 1%;">
 <div class="col-3">
<label class="col-12"><b>FROM </b></label>
  
  <div class="input-group date" id="datetimepicker_fromdate" data-target-input="nearest">
     <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_fromvendordate" placeholder="From Date"/>
        <div class="input-group-append" data-target="#datetimepicker_fromvendordate" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		</div>
		</div>
	</div>


	 <div class="col-3">
	  <label class="col-12"><b>TO </b></label>
	  <div class="input-group date" id="datetimepicker_todate" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_tovendordate" placeholder="To Date"/>
        <div class="input-group-append" data-target="#datetimepicker_tovendordate" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

  </div>
  <div class="col-3">
		<label class="col-12"><b>VEHICLE NO </b></label>
		<input type="text"  ng-model="vendorVehicleNumber" class="form-control col-12" placeholder="Vehicle Number" />  
	 </div>
     <div class="col-3">

		<input name="" type="button" class="btn btn-dark" id="" value="Search" style="margin-top:9%">
	 </div> 
 </div>
 <div class="row" style="margin-top: 1%;" ng-if="$scope.vendorInvoiceJson !=''">

<div class="col-3">
	<label class="col-12"><b>Per Kms Charge </b></label>
	<input type="number"  ng-model="perKmsvendor" class="form-control col-12" placeholder="Per Kms Charge" />
</div> 
<div class="col-3">
	<label class="col-12"><b>Fixed Cost</b></label>
	<input type="number"  ng-model="fixedCostvendor" class="form-control col-12" placeholder="Fixed Cost" />
</div>
<div class="col-3">
	<input name="" type="button" class="btn btn-dark" id="" value="Add" ng-click="addKmsandFixedVendor(perKmsvendor,fixedCostvendor)" style="margin-top:9%">
</div>

</div></div>
 <div class="row" style="margin-top: 1%;">

<table class="table table-bordered table-hover table-striped"  >
							<thead>
								<tr>
									<th width="15%">LRNO</th>
									<th width="15%">Date</th>
									<th width="15%">InvoiceNo</th>
									<th width="15%">Origin</th>
									<th width="15%">CustomerName</th>
									<th width="15%">Destination</th>
									<th width="15%">TruckNo</th>
									<th width="15%">TruckType</th>
									<th width="15%">No of case</th>
									<th width="15%">OP Kms</th>
									<th width="15%">Cls Kms</th>
									<th width="15%">Total kms</th>
									<th width="15%">For kms 6.5</th>
									<th width="15%">TRType Fixed</th>
									<th width="15%">Advance</th>
									<th width="15%">Grand Total</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="invoice in  vendorInvoiceJson track by $index">
										<td><label>{{invoice.LRNO}}</label></td>
										<td><label>{{invoice.date}}</label></td>
										<td><label>{{invoice.invoiceNo}}</label></td>
										<td><label>{{invoice.origin}}</label></td>
										<td><label>{{invoice.customerName}}</label></td>
										<td><label>{{invoice.destination}}</label></td>
										<td><label>{{invoice.truckNo}}</label></td>
										<td><label>{{invoice.truckType}}</label></td>
										<td><label>{{invoice.noOfCase}}</label></td>
										<td><label>{{invoice.opKms}}</label></td>
										<td><label>{{invoice.clsKms}}</label></td>
										<td><label>{{invoice.totalkms}}</label></td>
										<td><label>{{invoice.forKms}}</label></td>
										<td><label>{{invoice.tRTypeFixed}}</label></td>
										<td><label>{{invoice.advance}}</label></td>
										<td><label>{{invoice.grandTotal}}</label></td>
										
										<td> <!--<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>-->
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-click="removevendorInvoice($index)"></i> </td>
								</tr>
							</tbody>
						</table>
 </div>
 
</div>

		      		<div class="pull-right">
					<input name="" type="button" class="btn btn-primary" id="" value="Print" style="margin-left: -20%;">
					<input name="" type="button" class="btn btn-primary" id="" value="Save" style="margin-left: -1%;">
					</div>
					
</div>
	</div>



<div class="tab-pane"  id="Receipt" role="tabpanel">
<div >
<h4>Billing Receipt</h4>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 <div class="row">
  <div class="col-md-2">
  <div class="form-group">
     <label for="inputEmail1">Select Product</label> 
	<select ng-model="shipperName" class="form-control" ng-change="selectShipperName()" style="display: block;margin: 2% auto;">
  	<option value=""  selected>Select Shipper</option>
    <option  >Sai Store</option>
	<option  >Sri Store</option>
  </select>
        </div>
  </div>
   <div class="col-md-2">
   <div class="form-group">
     <label for="inputEmail2">Select Payment</label> 
		<select ng-model="ConsignorName"  class="form-control"  ng-change="selectConsignorName()" style="display: block;margin: 2% auto;">
		<option value="" selected>Select Consignor</option>
	    <option >SSS Store</option>
		<option >ECO Store</option>
	  </select>
        </div>
  </div>
  <div class="col-md-2">
   <div class="form-group">
     <label for="inputEmail2">Select Customer</label> 
		<select ng-model="CustomerName"  class="form-control"  ng-change="selectCustomerName()" style="display: block;margin: 2% auto;">
		<option value="" selected>Select Customer</option>
	    <option >SSS Store</option>
		<option >ECO Store</option>
	  </select>
        </div>
  </div>
  <div class="col-md-2">
  <div class="form-group">
     <label for="inputEmail3">Select StartDate</label> 
		<div class="input-group date" id="datetimepicker_startBillDate" data-target-input="nearest">
           <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_startBillDate" placeholder="Bill Start Date">
           <div class="input-group-append" data-target="#datetimepicker_startBillDate" data-toggle="datetimepicker">
               <div class="input-group-text"><i class="fa fa-calendar"></i></div>
           </div>
       </div>
        </div>
  </div>
  <div class="col-md-2">
  <div class="form-group">
     <label for="inputEmail3">Select EndDate</label> 
		<div class="input-group date" id="datetimepicker_endBillDate" data-target-input="nearest">
           <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_endBillDate" placeholder="Bill End Date">
           <div class="input-group-append" data-target="#datetimepicker_endBillDate" data-toggle="datetimepicker">
               <div class="input-group-text"><i class="fa fa-calendar"></i></div>
           </div>
       </div>
        </div>
  </div>
  <div class="col-md-2">
  <div class="form-group">
    <input name="" type="button" class="btn btn-primary" id="" value="Search" style="margin-top: 14%;">
        </div>
  </div>
  </div>
<!-- <div class="row" style="margin: 2%;" >
  <div class="col-6">
  
  </div>
  <div class="col-6">
  
  </div>
</div> -->
		      			<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<!-- <th width="2%"><input id="check_all" class="formcontrol" type="checkbox"></th> -->
									<th width="15%">InvoiceNo</th>
									<th width="15%">CustomerName</th>
									<th width="15%">Product</th>
									<th width="15%">Amount</th>
									 <th width="15%">Date</th> 
									<!--<th width="15%">Quantity</th>
									<th width="15%">Tax</th>
									<th width="15%">Currency</th>
									<th width="15%">Total</th> -->
									<th width="15%">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
										<!-- <td><input class="case" type="checkbox"></td> -->
										<td><label></label></td>
										<td><label></label></td>
										<td><!-- <input type="text"  id="productList" value="" class=" custom-select custom-select-sm" > -->
									            <select data-placeholder="Your Product"  class="form-control " tabindex="8">
									              <option value="">Select Product</option>
									              <option>American Black Bear</option>
									              <option>Asiatic Black Bear</option>
									              <option>Brown Bear</option>
									              <option>Giant Panda</option>
									              <option>Sloth Bear</option>
									              <option >Sun Bear</option>
									              <option >Polar Bear</option>
									              <option >Spectacled Bear</option>
									            </select>
										</td>
										<td><input type="text"  id="amt" class="form-control " ></td>
										<td><input type="text"  id="bill_date" class="form-control " ></td>
										<!-- <td>
										<div class="input-group date" id="datetimepicker_billvenDate" data-target-input="nearest">
						                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_billvenDate" placeholder="Bill Date"/>
						                  <div class="input-group-append" data-target="#datetimepicker_billvenDate" data-toggle="datetimepicker">
						                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                  </div>
						              </div>
										</td> 
										<td><input type="number"  id="qty" class="form-control " ></td>
										<td><input type="number" id="tax" class="form-control "></td>
										<td>
										<select class="form-control ">
											 <option value=""  selected>Select Currency</option>
											 <option  >INR</option>
											 <option  >USD</option>
											 <option  >EURO</option>
										</select>
										</td>
										<td><input type="number" id="total" class="form-control "></td> -->
										<td> 
										<input name="" type="button" class="btn btn-primary" id="" value="View">
										</td>
								</tr>
							</tbody>
						</table>
		      		</div>
					<div class="pull-right">
					<input name="" type="button" class="btn btn-primary" id="" value="Print" style="margin-left: 20%;">
					</div>
</div>
	</div>





</div>
<!-- vendor -->


</div>
</div>



</div>