<div >
<div class="col-md-12">
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab"  bind-attr="CustomerInvoice" role="tab" ng-click="navRedirect($event)">Customer Invoice</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="VendorInvoice" role="tab" ng-click="navRedirect($event)">Vendor Invoice</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="customerView" role="tab" ng-click="navRedirect($event)">Customer View</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="vendorView" role="tab" ng-click="navRedirect($event)">Vendor View</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="manPowerBilling" role="tab" ng-click="navRedirect($event)">Billing ManPower</a>
	</li>
</ul><!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="CustomerInvoice" role="tabpanel">
	<h4 style="display:none;">Customer Invoice</h4>
<div  >
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<!-- <div class="row" style="margin-top: 1%;">
		  <div class="col-10">
		  <div id="uploadDiv" class="col-12 filterDiv" style="display:none;">
			<form method="post" action="#" id="#">
				<div class="form-group files">
					<input type="file" class="form-control" multiple="">
				</div>
				<div class="row">
				<div class="col-12">
				<input name="" type="button" class="btn btn-dark" id="" value="Close" style="margin-left: 1%;float: right;margin-top: 1%;" ng-click="closeUpload()"/>
				<input name="" type="button" class="btn btn-dark" id="" value="Submit" style="margin-left: 1%;float: right;margin-top: 1%;" ng-click="submitUpload()"/>
				</div></div>
			</form>
		</div>
		  </div>
		 <div class="col-2">
			<input name="" type="button" class="btn btn-primary" id="" value="Upload"  ng-click="openUpload()" style="float: right;"/></div>
		</div> -->
<div class="filterDiv">
<div class="row" style="margin-top: 1%;">
 <div class="col-3">
<label class="col-12"><b>FROM </b></label>
  
  <div class="input-group date" id="datetimepicker_fromdate" data-target-input="nearest">
     <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_fromdate" ng-model="customerInvoice.fromdate" placeholder="From Date"/>
        <div class="input-group-append" data-target="#datetimepicker_fromdate" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		</div>
		</div>
	</div>


	 <div class="col-3">
	  <label class="col-12"><b>TO </b></label>
	  <div class="input-group date" id="datetimepicker_todate" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_todate" ng-model="customerInvoice.todate" placeholder="To Date"/>
        <div class="input-group-append" data-target="#datetimepicker_todate" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

  </div>
  <!-- <div class="col-2">
		<label class="col-12"><b>TRUCK NO </b></label>
		<input type="text"  ng-model="customerInvoice.truckno" class="form-control col-12" placeholder="Vehicle Number" />  
	 </div> -->
	
     <div class="col-2">

		<input name="" type="button" class="btn btn-dark" id="" value="Search" ng-click="searchcustItem()" style="margin-top:15%">
	 </div> 
 </div>
</div>
 <div class="row" style="margin-top: 1%;">
<!--  class="table table-bordered table-hover table-striped" dt-columns="bm.dtColumns" dt-instance="bm.dtInstance"-->
 <table  id="manage-billing-table"  datatable="ng" dt-options="bm.dtOptions" dt-instance="bm.dtInstance"  class="table table-bordered row-border hover" >
 <thead>
								<tr>
								     <th scope="col">
									</th>  
									<th width="15%">LoadID</th>
									<th width="15%">Date</th>
									<th width="15%">InvoiceNo</th>
									<th width="15%">Origin</th>
									<th width="15%">Destination</th>
									<th width="15%">TruckNo</th>
									<th width="15%">TruckType</th>
									<th width="15%">No of case</th>
									<th width="15%">OP Kms</th>
									<th width="15%">Cls Kms</th>
									<th width="15%">Total kms</th>
									<th width="15%">Per kms</th>
									<th width="15%">TRType Fixed</th>
									<th width="15%">Advance</th>
									<th></th>
								</tr>
							</thead>
 
  							<tbody>
								<tr ng-repeat="invoice in  customerInvoiceJson track by $index">
								  <td>
										<input  type="checkbox" value="" ng-model="invoice.checked"  ng-click="saveInArray($index)">
									
									</td> 
										<td><label>{{invoice.loadno}}</label></td>
										<td><label>{{invoice.datetime}}</label></td>
										<td><label>{{invoice.invoiceNO}}</label></td>
										<td><label>{{invoice.origin}}</label></td>
										<!-- <td><label>{{invoice.customerName}}</label></td> -->
										<td><label>{{invoice.destination}}</label></td>
										<td><label>{{invoice.truckno}}</label></td>
										<td><label>{{invoice.truckType}}</label></td>
										<td><label>{{invoice.noOfCase}}</label></td>
										<td><label>{{invoice.opkm}}</label></td>
										<td><label>{{invoice.clskm}}</label></td>
										<td><label>{{invoice.diffKM}}</label></td>
										<td><label>{{invoice.perkmchargecustomer}}</label></td>
										<td><label>{{invoice.freightAmtCust}}</label></td>
										<td><label>{{invoice.advance}}</label></td>
										<!-- <td><label>{{invoice.grandTotal}}</label></td> -->
										<td>
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-click="removeInvoice($index)"></i> </td>
								</tr>
							</tbody> 
 </table> 
 </div>
 
</div>
		      		</div>
					<div class="pull-right" style="margin-top: 1%;">
					<input name="" type="button" class="btn btn-primary" id="" ng-click="calculateTotal()" value="Calculate" style="margin-left: -1%;">
					</div>
					<div class="row col-12" >
					
					 <table  class="table table-bordered" id="custInvoice" style="margin-top: 1%;">
 								<thead>
						<tr><th colspan="11" class="textCenter"><label>S.SARAVANAN ENTERPRISES</label></th></tr>
					 	<!-- <tr><th colspan="9" class="textCenter"><label>VEHICLE NO:</label></th></tr> -->
					 	<tr>
									<!-- <th width="15%">TruckNo</th> -->
									 <th width="15%">Total Trip</th> 
									 <th width="20%">Invoice Date</th> 
									<th width="15%">TruckType</th>
									<th width="15%">No of case</th>
									<th width="15%">Total kms</th>
									<th width="15%">Per kms Total</th>
									<th width="15%">Total Freight Amt</th>
									<th width="15%">Advance</th>
									<th width="15%">Discount</th>
									<th width="15%">Leakage/Breakage</th>
									<th width="15%">Grand Total</th>
								</tr>
					 </thead>
						<tbody>
						<tr>
						<!-- <td><label>{{grandTotalList.truckno}}</label></td> -->
						<td><label>{{grandTotalList.totaltrip}}</label></td>
						<td>
						<div class="input-group date" id="datetimepicker_custinvoicedate" data-target-input="nearest">
				        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_custinvoicedate" ng-model="grandTotalList.custinvoicedate" placeholder="Invoice Date"/>
				        <div class="input-group-append" data-target="#datetimepicker_custinvoicedate" data-toggle="datetimepicker">
				            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
				        </div>
				   		</div>
						</td>
						<td><label>{{grandTotalList.trucktype}}</label></td>
						<td><label>{{grandTotalList.totalcase}}</label></td>
						<td><label>{{grandTotalList.totalkm}}</label></td>
						<td><label>{{grandTotalList.totalkmpercharge}}</label></td>
						<td><label>{{grandTotalList.totalfreightamt}}</label></td>
						<td><label>{{grandTotalList.totaladvance}}</label></td>
						<td><label>{{grandTotalList.totaldiscount}}</label></td>
						<td><input type="number" class="form-control" ng-model="leakage" ng-blur="addLeakTotal(leakage)"/></td>
						<td><label>{{grandTotalList.netamount}}</label></td>
						
						
						</tr>
						</tbody>
					 </table>
					
					</div>
					 <div class="pull-right">
					<!-- <input name="" type="button" class="btn btn-primary" id="" value="Print"  ng-click="custInvoicePrint()" style="margin-left: -20%;"> -->
					<input name="" type="button" class="btn btn-primary" id="" value="Save & Print" ng-click="saveCustomerInvoice()" style="margin-left: -1%;">
					<input name="" type="button" class="btn btn-primary" id="" value="Reset" ng-click="resetCustomerInvoice()" style="margin-left: -1%;">
					</div>
					
					<div class="row col-12" style="display:none;">
					<table  class="table table-bordered" id="custpdfInvoice" style="margin-top: 1%;">
					
					<tr><th colspan="2" class="textCenter"><h2>S.SARAVANAN ENTERPRISES</h2>
					<h5>47,Bajanai Koil Street,Paruthapattu,Avadi, Chennai - 600 071. Tamilnadu</h5>
					<h5><b>Email:</b>ssenterprises4358@gmail.com  <b>Ph:</b>+91-44-5559-5555</h5></th>
					<th colspan="1" ><img src='img/sse.png' style="width: 40%;height: 30%;margin: 3% 0% 0% 20%;"></th>
					</tr>
					
					<tbody>
					<tr><td colspan="2"><label><b>InvoiceNo:</b></label><label>{{custPrintData.customerinvoiceid}}</label></td><td colspan="1"><label><b>Date:</b></label><label>{{custPrintData.createddate}}</label></td></tr>
					<tr><td colspan="2"><label><b>Bill To:</b></label>
					<br><label>{{custPrintData.custAddr}}</label></td>
					<td colspan="1"><label><b>Place of supply:</b></label>
					<br><label>{{custPrintData.custAddr}}</label>
					</td>
					</tr>
					<tr><th colspan="1"><label >Description</label></th><th colspan="1"><label>HSN Code</label></th><th colspan="1"><label>Amount</label></th></tr>
					<tr><td colspan="1"><label>Trip Rate/Spot Rate Freight charge</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custPrintData.tripRate}}</label></td></tr>
					<tr><td colspan="1"><label>Sub Total</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custPrintData.tripRate}}</label></td></tr>
					<tr><td colspan="1"><label>Discount</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custPrintData.totaldiscount}}</label></td></tr>
					<tr><td colspan="1"><label>Advance/Leakage</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custPrintData.advLeak}}</label></td></tr>
					<tr><td colspan="1"><label>Sub Total(Rs)</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custPrintData.netamount}}</label></td></tr>
					<tr><td colspan="1"><label>CGST</label></td><td colspan="1"><label></label></td><td colspan="1"><label>0</label></td></tr>
					<tr><td colspan="1"><label>SGST</label></td><td colspan="1"><label></label></td><td colspan="1"><label>0</label></td></tr>
					<tr><th colspan="1"><label>Total Amount(Rs)</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custPrintData.netamount}}</label></td></tr>
					<tr><td colspan="3"><label><b>Note:- </b> Forward charges Mechanism(if GST Charged by Transporter)</label></td></tr>
					<tr><th colspan="2">Amount(Rs.)In Words</th><td colspan="1"> <label>{{custPrintData.totalAmountInWords}}</label><label>Only</label></td></tr>
					<tr><td colspan="3"><label><b>Note:- </b>Under Reserve Charges Mechanism,GST is Payable by the Consignot/Service Receiver</label></td></tr>
					<tr></tr>
					</tbody>
					</table>
					
					</div>
					
					 
 
</div>



<div class="tab-pane" id="VendorInvoice" role="tabpanel">
<h4>Vendor Invoice</h4>
<div >
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="filterDiv">
<div class="row" style="margin-top: 1%;">
 <div class="col-3">
<label class="col-12"><b>FROM </b></label>
  <div class="input-group date" id="datetimepicker_fromvendordate" data-target-input="nearest">
     <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_fromvendordate" ng-model="vendorInvoice.fromdate" placeholder="From Date"/>
        <div class="input-group-append" data-target="#datetimepicker_fromvendordate" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		</div>
		</div>
	</div>


	 <div class="col-3">
	  <label class="col-12"><b>TO </b></label>
	  <div class="input-group date" id="datetimepicker_tovendordate" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_tovendordate" ng-model="vendorInvoice.todate" placeholder="To Date"/>
        <div class="input-group-append" data-target="#datetimepicker_tovendordate" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

  </div>
  <div class="col-2">
		<label class="col-12"><b>TRUCK NO </b></label>
		<input type="text" list="dataList" ng-model="vendorInvoice.truckno" class="form-control col-12" placeholder="Vehicle Number" />  
		 <datalist id="dataList" >
		<option ng-repeat="b in trucknoJson" value="{{b.vehicleNo}}"></option>
		</datalist> 
	 </div>
     <div class="col-2">

		<input name="" type="button" class="btn btn-dark" id="" value="Search" ng-click="searchvenItem()" style="margin-top:15%">
	 </div> 
 </div>

</div>
 <div class="row" style="margin-top: 1%;">
<!-- datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstanceCallback" -->
<table id="manage-vendor-table" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance"  class="table table-bordered row-border hover"  >
							 <thead>
								<tr>
								     <th scope="col">
									</th>  
									<th width="15%">LoadID</th>
									<th width="15%">Date</th>
									<th width="15%">InvoiceNo</th>
									<th width="15%">Origin</th>
									<th width="15%">Destination</th>
									<th width="15%">TruckNo</th>
									<th width="15%">TruckType</th>
									<th width="15%">No of case</th>
									<th width="15%">OP Kms</th>
									<th width="15%">Cls Kms</th>
									<th width="15%">Total kms</th>
									<th width="15%">Per kms</th>
									<th width="15%">TRType Fixed</th>
									<th width="15%">Advance</th>
									<th></th>
								</tr>
							</thead>
 
  							<tbody>
								<tr ng-repeat="invoice in  vendorInvoiceJson track by $index">
								  <td>
										<input  type="checkbox" value="" ng-model="invoice.checked"  ng-click="saveVendorInArray($index)">
									
									</td> 
										<td><label>{{invoice.loadno}}</label></td>
										<td><label>{{invoice.datetime}}</label></td>
										<td><label>{{invoice.invoiceNO}}</label></td>
										<td><label>{{invoice.origin}}</label></td>
										<td><label>{{invoice.destination}}</label></td>
										<td><label>{{invoice.truckno}}</label></td>
										<td><label>{{invoice.truckType}}</label></td>
										<td><label>{{invoice.noOfCase}}</label></td>
										<td><label>{{invoice.opkm}}</label></td>
										<td><label>{{invoice.clskm}}</label></td>
										<td><label>{{invoice.diffKM}}</label></td>
										<td><label>{{invoice.perkmchargecustomer}}</label></td>
										<td><label>{{invoice.freightAmtCust}}</label></td>
										<td><label>{{invoice.advance}}</label></td>
										<td>
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-click="removeInvoice($index)"></i> </td>
								</tr>
							</tbody> 
						</table>
 </div>
 
</div>

		      		<div class="pull-right">
					<!-- <input name="" type="button" class="btn btn-primary" id="" value="Print" style="margin-left: -20%;">
					<input name="" type="button" class="btn btn-primary" id="" value="Save" style="margin-left: -1%;"> -->
					<input name="" type="button" class="btn btn-primary" id="" ng-click="calculateVendorTotal()"  value="Calculate" style="margin-left: -1%;">
					</div>
					
					<div class="row col-12" >
					
					 <table  class="table table-bordered" style="margin-top: 1%;">
 								<thead>
						<tr><th colspan="11" class="textCenter"><label>S.SARAVANAN ENTERPRISES</label></th></tr>
					 	<!-- <tr><th colspan="9" class="textCenter"><label>VEHICLE NO:</label></th></tr> -->
					 	<tr>
									<!-- <th width="15%">TruckNo</th> -->
									 <th width="15%">Total Trip</th>
									 <th width="20%">Invoice Date</th>
									<th width="15%">TruckType</th>
									<th width="15%">No of case</th>
									<th width="15%">Total kms</th>
									<th width="15%">Per kms Total</th>
									<th width="15%">Total Freight Amt</th>
									<th width="15%">Advance</th>
									<th width="15%">Discount</th>
									<th width="15%">Leakage/Breakage</th>
									<th width="15%">Grand Total</th>
								</tr>
					 </thead>
						<tbody>
						<tr>
						<!-- <td><label>{{grandTotalVendorList.truckno}}</label></td> -->
						<td><label>{{grandTotalVendorList.totaltrip}}</label></td>
						<td>
						<div class="input-group date" id="datetimepicker_veninvoicedate" data-target-input="nearest">
				        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_veninvoicedate" ng-model="grandTotalVendorList.veninvoicedate" placeholder="Invoice Date"/>
				        <div class="input-group-append" data-target="#datetimepicker_veninvoicedate" data-toggle="datetimepicker">
				            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
				        </div>
				   		</div>
						</td>
						<td><label>{{grandTotalVendorList.trucktype}}</label></td>
						<td><label>{{grandTotalVendorList.totalcase}}</label></td>
						<td><label>{{grandTotalVendorList.totalkm}}</label></td>
						<td><label>{{grandTotalVendorList.totalkmpercharge}}</label></td>
						<td><label>{{grandTotalVendorList.totalfreightamt}}</label></td>
						<td><label>{{grandTotalVendorList.totaladvance}}</label></td>
						<td><label>{{grandTotalVendorList.totaldiscount}}</label></td>
						<td><input type="number" class="form-control" ng-model="vendorleakage" ng-blur="addVendorLeakTotal(vendorleakage)"/></td>
						<td><label>{{grandTotalVendorList.netamount}}</label></td>
						
						
						</tr>
						</tbody>
					 </table>
					
					</div>
					 <div class="pull-right">
					<!-- <input name="" type="button" class="btn btn-primary" id="" value="Print"  ng-click="venInvoicePrint()" style="margin-left: -20%;"> -->
					<input name="" type="button" class="btn btn-primary" id="" value="Save & Print" ng-click="saveVendorInvoice()" style="margin-left: -1%;">
					<input name="" type="button" class="btn btn-primary" id="" value="Reset" ng-click="resetVendorInvoice()" style="margin-left: -1%;">
					</div>
					
					
					<div class="row col-12" style="display:none;">
					<table  class="table table-bordered" id="venpdfInvoice" style="margin-top: 1%;">
					
					<tr><th colspan="2" class="textCenter"><h2>S.SARAVANAN ENTERPRISES</h2>
					<h5>47,Bajanai Koil Street,Paruthapattu,Avadi, Chennai - 600 071. Tamilnadu</h5>
					<h5><b>Email:</b>ssenterprises4358@gmail.com  <b>Ph:</b>+91-44-5559-5555</h5></th>
					<th colspan="1" ><img src='img/sse.png' style="width: 40%;height: 30%;margin: 3% 0% 0% 20%;"></th>
					</tr>
					
					<tbody>
					<tr><td colspan="2"><label><b>InvoiceNo:</b></label><label>{{venPrintData.vendorinvoiceid}}</label></td><td colspan="1"><label><b>Date:</b></label><label>{{venPrintData.createddate}}</label></td></tr>
					<tr><td colspan="2"><label><b>Bill To:</b></label>
					<br><label>{{venPrintData.venAddr}}</label></td>
					<td colspan="1"><label><b>Place of supply:</b></label>
					<br><label>{{venPrintData.venAddr}}</label>
					</td>
					</tr>
					<tr><th colspan="1"><label >Description</label></th><th colspan="1"><label>HSN Code</label></th><th colspan="1"><label>Amount</label></th></tr>
					<tr><td colspan="1"><label>Trip Rate/Spot Rate Freight charge</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venPrintData.tripRate}}</label></td></tr>
					<tr><td colspan="1"><label>Sub Total</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venPrintData.tripRate}}</label></td></tr>
					<tr><td colspan="1"><label>Discount</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venPrintData.totaldiscount}}</label></td></tr>
					<tr><td colspan="1"><label>Advance/Leakage</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venPrintData.advLeak}}</label></td></tr>
					<tr><td colspan="1"><label>Sub Total(Rs)</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venPrintData.netamount}}</label></td></tr>
					<tr><td colspan="1"><label>CGST</label></td><td colspan="1"><label></label></td><td colspan="1"><label>0</label></td></tr>
					<tr><td colspan="1"><label>SGST</label></td><td colspan="1"><label></label></td><td colspan="1"><label>0</label></td></tr>
					<tr><th colspan="1"><label>Total Amount(Rs)</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venPrintData.netamount}}</label></td></tr>
					<tr><td colspan="3"><label><b>Note:- </b> Forward charges Mechanism(if GST Charged by Transporter)</label></td></tr>
					<tr><th colspan="2">Amount(Rs.)In Words</th><td colspan="1"> <label>{{venPrintData.totalAmountInWords}}</label><label>Only</label></td></tr>
					<tr><td colspan="3"><label><b>Note:- </b>Under Reserve Charges Mechanism,GST is Payable by the Consignot/Service Receiver</label></td></tr>
					<tr></tr>
					</tbody>
					</table>
					
					</div>
					
					
</div>
	</div>



<div class="tab-pane"  id="customerView" role="tabpanel">
<div >
<h4>Customer View</h4>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="filterDiv">
<div class="row" style="margin-top: 1%;">
 <div class="col-3">
<label class="col-12"><b>FROM </b></label>
<div class="input-group date" id="datetimepicker_startBillDate" data-target-input="nearest">
           <input type="text" ng-model="customerView.fromdate" class="form-control datetimepicker-input" data-target="#datetimepicker_startBillDate" placeholder="Bill Start Date">
           <div class="input-group-append" data-target="#datetimepicker_startBillDate" data-toggle="datetimepicker">
               <div class="input-group-text"><i class="fa fa-calendar"></i></div>
           </div>
       </div>
	</div>


	 <div class="col-3">
	  <label class="col-12"><b>TO </b></label>
	  <div class="input-group date" id="datetimepicker_endBillDate" data-target-input="nearest">
           <input type="text" ng-model="customerView.todate" class="form-control datetimepicker-input" data-target="#datetimepicker_endBillDate" placeholder="Bill End Date">
           <div class="input-group-append" data-target="#datetimepicker_endBillDate" data-toggle="datetimepicker">
               <div class="input-group-text"><i class="fa fa-calendar"></i></div>
           </div>
       </div>

  </div>
  <div class="col-2">
		<label class="col-12"><b>CUSTOMER NAME </b></label>
		<select ng-model="customerView.customername"  class="form-control" style="display: block;margin: 2% auto;">
		<option value="" selected>Select Customer</option>
		<option ng-repeat="custView in customerViewList | unique:'customername'" value="{{custView.customername}}">{{custView.customername}}</option>
	  </select> 
	 </div>
	
     <div class="col-2">

		<input name="" type="button" class="btn btn-dark" id="" value="Search" ng-click="searchcustView()" style="margin-top:15%">
		<input name="" type="button" class="btn btn-dark" id="" value="Reset" ng-click="resetcustView()" style="margin-top:15%">
	 </div> 
 </div>

</div>
		      			<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th width="15%">InvoiceNo</th>
									<th width="15%">CustomerName</th>
									<th width="15%">Total Trip</th>
									<th width="15%">Amount</th>
									 <th width="15%">Date</th> 
									<th width="15%">Status</th>
								</tr>
							</thead>
							<tbody>
							<!-- ng-repeat="view in  customerViewList track by $index" -->
								<tr ng-repeat="view in  customerViewList track by $index">
										<td><label>{{view.customerinvoiceid}}</label></td>
										<td><label>{{view.customername}}</label></td>
										<td><label>{{view.totaltrip}}</label></td>
										<td><label>{{view.netamount}}</label></td>
										<td><label>{{view.createddate}}</label></td>
										<td>
										<input name="" type="button" class="btn btn-info" id="" value="View"  >
										<input name="" type="button" class="btn btn-info" id="" value="Print" ng-click="custViewModal(view)" >
										</td>
										<!-- <td><label class="badge" ng-class="{'badge-danger': view.paymentstatus == 'Pending','badge-success': view.paymentstatus == 'Completed'}">{{view.paymentstatus}}</label></td> -->
										<!-- <td><i class="fa fa-trash fa-lg" aria-hidden="true" ng-click="removeInvoice($index)"></i> </td> -->
								</tr>
							</tbody>
						</table>
		      		</div>
					<!-- <div class="pull-right">
					<input name="" type="button" class="btn btn-primary" id="" value="Print" style="margin-left: 20%;">
					</div> -->
</div>
	</div>


<div class="tab-pane"  id="vendorView" role="tabpanel">
<div >
<h4>Vendor View</h4>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div class="filterDiv">
<div class="row" style="margin-top: 1%;">
 <div class="col-3">
<label class="col-12"><b>FROM </b></label>
<div class="input-group date" id="datetimepicker_fromcustview" data-target-input="nearest">
           <input type="text" ng-model="vendorView.fromdate" class="form-control datetimepicker-input" data-target="#datetimepicker_fromcustview" placeholder="Bill Start Date">
           <div class="input-group-append" data-target="#datetimepicker_fromcustview" data-toggle="datetimepicker">
               <div class="input-group-text"><i class="fa fa-calendar"></i></div>
           </div>
       </div>
	</div>


	 <div class="col-3">
	  <label class="col-12"><b>TO </b></label>
	  <div class="input-group date" id="datetimepicker_tocustview" data-target-input="nearest">
           <input type="text"  ng-model="vendorView.todate" class="form-control datetimepicker-input" data-target="#datetimepicker_tocustview" placeholder="Bill End Date">
           <div class="input-group-append" data-target="#datetimepicker_tocustview" data-toggle="datetimepicker">
               <div class="input-group-text"><i class="fa fa-calendar"></i></div>
           </div>
       </div>

  </div>
 <!--  <div class="col-2">
		<label class="col-12"><b>Customer </b></label>
		<select ng-model="CustomerName"  class="form-control"  ng-change="selectCustomerName()" style="display: block;margin: 2% auto;">
		<option value="" selected>Select Customer</option>
	  </select> 
	 </div> -->
	 <div class="col-2">
		<label class="col-12"><b>VENDOR NAME </b></label>
		<select   ng-model="vendorView.vendorname" class="form-control"  style="display: block;margin: 2% auto;">
		<option value="" selected>Select Vendor</option>
		<option ng-repeat="venView in vendorViewList | unique:'vendorname'" value="{{venView.vendorname}}">{{venView.vendorname}}</option>
	  
	  </select> 
	 </div>
     <div class="col-2">

		<input name="" type="button" class="btn btn-dark" id="" value="Search" ng-click="searchvenView()" style="margin-top:15%">
	    <input name="" type="button" class="btn btn-dark" id="" value="Reset" ng-click="resetvenView()" style="margin-top:15%">
	 </div> 
 </div>

</div>
		      			<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<th width="15%">InvoiceNo</th>
									<th width="15%">CustomerName</th>
									<th width="15%">Total Trip</th>
									<th width="15%">Amount</th>
									 <th width="15%">Date</th> 
									<th width="15%">Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="view in  vendorViewList track by $index">
										<td><label>{{view.vendorinvoiceid}}</label></td>
										<td><label>{{view.vendorname}}</label></td>
										<td><label>{{view.totaltrip}}</label></td>
										<td><label>{{view.netamount}}</label></td>
										<td><label>{{view.createddate}}</label></td>
										<td>
										<input name="" type="button" class="btn btn-info" id="" value="View"  >
										<input name="" type="button" class="btn btn-info" id="" value="Print" ng-click="venViewModal(view)" ></td>
										<!-- <td><label class="badge" ng-class="{'badge-danger': view.paymentstatus == 'Pending','badge-success': view.paymentstatus == 'Completed'}">{{view.paymentstatus}}</label></td> -->
										<!-- <td><i class="fa fa-trash fa-lg" aria-hidden="true" ng-click="removeInvoice($index)"></i> </td> -->
								</tr>
							</tbody>
						</table>
		      		</div>
					<!-- <div class="pull-right">
					<input name="" type="button" class="btn btn-primary" id="" value="Print" style="margin-left: 20%;">
					</div> -->
</div>
	</div>



<div class="tab-pane"  id="manPowerBilling" role="tabpanel">
<div >
<h4>Billing ManPower</h4>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="borderDiv">
<div class="div_DD col-12 border-rad" style="/* width:50%; *//* height: 52%; */border-bottom: 1px solid #dee2e6;background: #283f51;" id="Div51" name="Div51" ondragstart="dragIn(event)" onclick="selectComponent(event)">
<h2 style="/* margin: 0 auto; */font-size: 14px;color: white;text-align: center;/* font-weight: bold; */text-transform: uppercase;padding-top: 6px;">Man Power Billing</h2>
</div>
<div class="row pad1">
<div class="col-4">
<label class="col-6"><b>Customer Name</b></label>
<input type="text" list="datacustList" ng-model="manpowerBilling.customername" class="inputbox" ng-change="loadbindData(manpowerBilling.customername)" placeholder="Select CustomerName" />  
 <datalist id="datacustList" >
 <option ng-repeat="b in custlistJson" value="{{b.name}}">{{b.name}}</option> 
</datalist>
</div>
<div class="col-4">
<label class="col-6"><b>Customer Branch</b> </label>
<input type="text" list="dataListbranch" ng-model="manpowerBilling.customerbranch" class="inputbox " ng-change="loadbindStateData(manpowerBilling.customerbranch)" placeholder="Select Customer Branch" />  
 <datalist id="dataListbranch" >
  <option ng-repeat="b in custAddr" value="{{b.customerAddr}}">{{b.customerAddr}}</option> 
<!-- <option ng-repeat="b in trucknoJson" value="{{b.vehicleNo}}"></option> -->
</datalist>

</div>
<div class="col-4">
<label class="col-6"><b>State</b> </label>
<input type="text" list="dataListstate" ng-model="manpowerBilling.customerstate" class="inputbox "  disabled/>  
 <datalist id="dataListstate" >
  <option ng-repeat="b in custAddr" value="{{b.state}}" >{{b.state}}</option> 
<!-- <option ng-repeat="b in trucknoJson" value="{{b.vehicleNo}}"></option> -->
</datalist>

</div>
</div>
<!--<div class="row pad1">
<div class="col-6">
<label class="col-6"><b>Item</b></label>
<input type="text" list="dataList" ng-model="manpowerBilling.item" class="inputbox" placeholder="Select Item" />  
 <datalist id="dataList" >
</datalist>
</div>
<div class="col-6">
<label class="col-6"><b>Tax</b> </label>
<input type="text" list="dataList" ng-model="manpowerBilling.tax" class="inputbox" placeholder="Select Tax" />  
 <datalist id="dataList" >
</datalist>

</div>
</div>
 <div class="row pad1">
<div class="col-6">
<label class="col-6"><b>Amount</b></label>
<input type="text" ng-model="manpowerBilling.amount" class="inputbox" placeholder="Select Amount" />  
</div>
<div class="col-6">
<label class="col-6"><b>Qty</b> </label>
<input type="number" ng-model="manpowerBilling.qty" class="inputbox" placeholder="Select Qty" />  
</div>
</div> 

<div class="row pad1">
<div class="col-6">
<label class="col-6"><b>Total Taxable Value</b></label>
<input type="text" ng-model="manpowerBilling.totaltaxable" class="inputbox" placeholder="Select Total" />  
</div>

</div>-->
	</div>	
	<div class="pad1">
	<table  id="manage-manpower-table"  class="table table-bordered table-striped" >
 <thead>
								<tr>
									<th width="15%">Item</th>
									<th width="15%">Description</th>
									<th width="15%">HSN Code</th>
									<th width="12%">QTY</th>
									<th width="12%">Unit Price</th>
									<th width="12%">Tax Percentage</th>
									<th width="12%">Total</th>
									<th width="15%"></th>
								</tr>
							</thead>
 
  							<tbody>
								<tr  ng-repeat="manpowerItem in manpower track by $index">
										<td><input type="text" class="form-control" list="dataitemList" ng-model="manpowerItem.item" placeholder="Select Tax" ng-change="maptoDescription(manpowerItem)"/>  
											<datalist id="dataitemList">
											<option ng-repeat="item in itemJson" value="{{item.itemname}}">{{item.itemname}}</option>
											</datalist>
										</td>
										<td><textarea class="form-control" ng-model="manpowerItem.description" rows="2"></textarea></td>
										<td><input type="text" class="form-control"ng-model="manpowerItem.hsn" placeholder="Select Hsn" disabled/> </td>
										<td><input type="number" class="form-control"ng-model="manpowerItem.quantity" placeholder="Enter Qty"  ng-blur="getTotalItem(manpowerItem)" /></td>
										<td><input type="number" class="form-control"ng-model="manpowerItem.unitprice"  ng-blur="getTotalItem(manpowerItem)" /></td>
										<td><input type="text" class="form-control"ng-model="manpowerItem.taxpercentage"  disabled/></td>
										<td><input type="number" class="form-control"ng-model="manpowerItem.total"  disabled/></td>
										<td >
										<i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addRowItem(manpowerItem);"></i>
										<i class="fa fa-trash fa-lg" aria-hidden="true" ng-show="$index > 0" ng-click="deleteRowItem($index);"></i>
										</td>
										</tr>
							</tbody> 
 </table> 
	</div>
	<div class="row" style="margin-top: 1%;">
	<div class="col-8"></div>
					<label class="col-2"><b>Grand Total</b></label>
					<input type="text" class="form-control col-2" ng-model="grandTotal"  disabled/>
					</div>
	<div class="pull-right" style="margin-top: 2%;">
					<!-- <input name="" type="button" class="btn btn-primary" id="" value="Print"  ng-click="venInvoicePrint()" style="margin-left: -20%;"> -->
					<input name="" type="button" class="btn btn-primary" id="" ng-click="savemanPowerItem();"  value="Save &amp; Print" >
					<input name="" type="button" class="btn btn-primary" id="" value="Reset" ng-click="resetItem();" style="margin-left: 0%;">
					</div>      			
</div>
					
</div>
	</div>
</div>
<!-- vendor -->


</div>
</div>



</div>


 <!-- The Customer View Modal -->
  <div class="modal" id="custviewModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Invoice</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row col-12" >
					<table  class="table table-bordered" id="custViewInvoice" style="margin-top: 1%;">
					
					<tr><th colspan="2" class="textCenter"><h2>S.SARAVANAN ENTERPRISES</h2>
					<h5>47,Bajanai Koil Street,Paruthapattu,Avadi, Chennai - 600 071. Tamilnadu</h5>
					<h5><b>Email:</b>ssenterprises4358@gmail.com  <b>Ph:</b>+91-44-5559-5555</h5></th>
					<th colspan="1" ><img src='img/sse.png' style="width: 40%;height: 30%;margin: 3% 0% 0% 20%;"></th>
					</tr>
					
					<tbody>
					<tr><td colspan="2"><label><b>InvoiceNo:</b></label><label>{{custviewData.customerinvoiceid}}</label></td><td colspan="1"><label><b>Date:</b></label><label>{{custviewData.createddate}}</label></td></tr>
					<tr><td colspan="2"><label><b>Bill To:</b></label>
					<br></td>
					<td colspan="1"><label><b>Place of supply:</b></label>
					<br>
					</td>
					</tr>
					<tr><th colspan="1"><label >Description</label></th><th colspan="1"><label>HSN Code</label></th><th colspan="1"><label>Amount</label></th></tr>
					<tr><td colspan="1"><label>Trip Rate/Spot Rate Freight charge</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custviewData.tripRate}}</label></td></tr>
					<tr><td colspan="1"><label>Sub Total</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custviewData.tripRate}}</label></td></tr>
					<tr><td colspan="1"><label>Discount</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custviewData.totaldiscount}}</label></td></tr>
					<tr><td colspan="1"><label>Advance/Leakage</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custviewData.advLeak}}</label></td></tr>
					<tr><td colspan="1"><label>Sub Total(Rs)</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custviewData.netamount}}</label></td></tr>
					<tr><td colspan="1"><label>CGST</label></td><td colspan="1"><label></label></td><td colspan="1"><label>0</label></td></tr>
					<tr><td colspan="1"><label>SGST</label></td><td colspan="1"><label></label></td><td colspan="1"><label>0</label></td></tr>
					<tr><th colspan="1"><label>Total Amount(Rs)</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{custviewData.netamount}}</label></td></tr>
					<tr><td colspan="3"><label><b>Note:- </b> Forward charges Mechanism(if GST Charged by Transporter)</label></td></tr>
					<tr><th colspan="2">Amount(Rs.)In Words</th><td colspan="1"> <label>{{custviewData.totalAmountInWords}}</label><label>Only</label></td></tr>
					<tr><td colspan="3"><label><b>Note:- </b>Under Reserve Charges Mechanism,GST is Payable by the Consignot/Service Receiver</label></td></tr>
					<tr></tr>
					</tbody>
					</table>
					
					</div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="custViewPrint()" >Print</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
  
  
  <!-- The Vendor View Modal -->
  <div class="modal" id="venviewModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Invoice</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class="row col-12" >
					<table  class="table table-bordered" id="venViewInvoice" style="margin-top: 1%;">
					
					<tr><th colspan="2" class="textCenter"><h2>S.SARAVANAN ENTERPRISES</h2>
					<h5>47,Bajanai Koil Street,Paruthapattu,Avadi, Chennai - 600 071. Tamilnadu</h5>
					<h5><b>Email:</b>ssenterprises4358@gmail.com  <b>Ph:</b>+91-44-5559-5555</h5></th>
					<th colspan="1" ><img src='img/sse.png' style="width: 40%;height: 30%;margin: 3% 0% 0% 20%;"></th>
					</tr>
					
					<tbody>
					<tr><td colspan="2"><label><b>InvoiceNo:</b></label><label>{{venviewData.vendorinvoiceid}}</label></td><td colspan="1"><label><b>Date:</b></label><label>{{venviewData.createddate}}</label></td></tr>
					<tr><td colspan="2"><label><b>Bill To:</b></label>
					<br></td>
					<td colspan="1"><label><b>Place of supply:</b></label>
					<br>
					</td>
					</tr>
					<tr><th colspan="1"><label >Description</label></th><th colspan="1"><label>HSN Code</label></th><th colspan="1"><label>Amount</label></th></tr>
					<tr><td colspan="1"><label>Trip Rate/Spot Rate Freight charge</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venviewData.tripRate}}</label></td></tr>
					<tr><td colspan="1"><label>Sub Total</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venviewData.tripRate}}</label></td></tr>
					<tr><td colspan="1"><label>Discount</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venviewData.totaldiscount}}</label></td></tr>
					<tr><td colspan="1"><label>Advance/Leakage</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venviewData.advLeak}}</label></td></tr>
					<tr><td colspan="1"><label>Sub Total(Rs)</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venviewData.netamount}}</label></td></tr>
					<tr><td colspan="1"><label>CGST</label></td><td colspan="1"><label></label></td><td colspan="1"><label>0</label></td></tr>
					<tr><td colspan="1"><label>SGST</label></td><td colspan="1"><label></label></td><td colspan="1"><label>0</label></td></tr>
					<tr><th colspan="1"><label>Total Amount(Rs)</label></td><td colspan="1"><label></label></td><td colspan="1"><label>{{venviewData.netamount}}</label></td></tr>
					<tr><td colspan="3"><label><b>Note:- </b> Forward charges Mechanism(if GST Charged by Transporter)</label></td></tr>
					<tr><th colspan="2">Amount(Rs.)In Words</th><td colspan="1"> <label>{{venviewData.totalAmountInWords}}</label><label>Only</label></td></tr>
					<tr><td colspan="3"><label><b>Note:- </b>Under Reserve Charges Mechanism,GST is Payable by the Consignot/Service Receiver</label></td></tr>
					<tr></tr>
					</tbody>
					</table>
					
					</div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="venViewPrint()" >Print</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>