<div >
<div>
<input name="" type="button"  style="float: right;margin: 1%; " class="btn btn-primary" id="" value="Create" ng-click="createEmp()" >
<table id="manage-employee-table" class="custTable" datatable="ng" dt-options="em.dtOptions" dt-column-defs="em.dtColumnDefs" style="width: 90%;">
					<thead>
						<tr>
							 <!-- <th scope="col">
								<div class="checkbox">
									<label>
										<input type="checkbox" value="">
									</label>
								</div>
							</th> --> 
							<th scope="col"><h5>EmpId</h5></th>
							<th scope="col"><h5>Employee Name</h5></th>
							<th scope="col" ><h5>Role</h5></th>
							<th scope="col" ><h5>Designation</h5></th>
							<th scope="col" ><h5>Access</h5></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="list in  listEmployeeJson track by $index">
							 <!-- <td>
								<div class="checkbox">
									<label>
										<input  type="checkbox" value="">
									</label>
								</div>
							</td> --> 
							<td>{{list.empid}}</td>
							<td>{{list.empname}}</td>
							<td>{{list.role}}</td>
							<td>{{list.designation}}</td>
								<td style="width: 13%;"> 
								<i class="fa fa-edit" aria-hidden="true" ng-click="editEmp(list,$event)"></i>
								<i class="fa fa-trash fa-lg" aria-hidden="true" ng-click="removeItem(list)" ></i>
									<!-- <input name="" type="button" data-toggle="modal"
									style=" height: 26px; padding-top: 2px; position: relative; "
									class="btn btn-primary" id="" value="Edit"
									ng-click="editCustomer(list,$event)">
									<input name="" type="button" data-toggle="modal"
									style=" height: 26px; padding-top: 2px; position: relative; "
									class="btn btn-danger" id="" value="Delete"
									ng-click="removeItem($index)" > -->
								</td>
							</tr>
					</tbody>
				</table>
</div>
<!-- The Modal -->
  <div class="modal fade" id="empModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" >
      <div class="modal-content">
      
        <!-- Modal Header  -->
        <div class="modal-header">
          <h4 class="modal-title"> Add New Employee</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> 
        
        <!-- Modal body -->
        <div class="modal-body">
        <fieldset class="col-12 px-3" style="padding: 1%;">
    	<legend>Basic Details:</legend>
          <div class='col-12 addItems'>
        <table id='addData'>
         <tr>
          <td colspan="1" class="empId"><span class="labelfont">Id</span></td>
          <td colspan="1"><span class="labelfont">Employee Name</span></td>
          <td colspan="1"><span class="labelfont">Employee Role</span></td>
          <td colspan="1"><span class="labelfont">Designation</span></td>
          <td colspan="1"><span class="labelfont">PAN</span></td>
          <td colspan="1"><span class="labelfont">Aadhar No</span></td>
          <td colspan="1"><span class="labelfont">Experience</span></td>
          </tr>
          <tr>
            <td colspan="1" class="empId">
              <input type="text" ng-model="item.empid" class="form-control " placeholder="ID"/>
            </td>
            <td colspan="1">
              <input type="text" ng-model="item.empname" class="form-control " placeholder="Employee Name" />
            </td>
            <td colspan="1">
              <input type="text" ng-model="item.role" class="form-control " placeholder="Employee Role"/> 
              </td>
             <td colspan="1">
                <input type='text' ng-model="item.designation" class="form-control " placeholder="Designation"/>
              </td>
            <td colspan="1" >
             <input type="text" ng-model="item.pan" class="form-control " placeholder="PAN"/> 
            </td>
            <td colspan="1" >
             <input type="text" ng-model="item.adtharnumber" class="form-control " placeholder="Aadhar No"/> 
            </td>
            <td colspan="1" >
             <input type="text" ng-model="item.yearofexperience" class="form-control " placeholder="Experience"/> 
            </td>
            </tr>
          <tr>
          <td colspan="1" ><span class="labelfont">Emp Address</span></td>
          <td colspan="1"><span class="labelfont">Mobile No</span></td>
          <td colspan="1"><span class="labelfont">Father Name</span></td>
          <td colspan="1"><span class="labelfont">Salary</span></td>
          </tr>
            <tr>
            <td colspan="1">
              <input type="text" ng-model="item.employeeAddress" class="form-control " placeholder="Employee Address" />
            </td>
            <td colspan="1">
              <input type="text" ng-model="item.mobileno" class="form-control " placeholder="Mobile No"/>
              </td>
            <td colspan="1">
                <input type='text' ng-model="item.fathername" class="form-control " placeholder="Father Name"/>
            </td>
            <td colspan="1">
                <input type='text' ng-model="item.salary" class="form-control " placeholder="Salary Package"/>
             </td>
            </tr>
         
        </table>
      </div>
      </fieldset>
      
     <!--  <div class="row col-12"> -->
      <fieldset class="col-12 px-3" style="padding: 1%;">
    <legend>Bank Details:</legend>
    <div class="row">
    <div class="col-3">
    <label class="col-12"><b>Bank Name </b></label>
	<input type="text"  ng-model="bankName" class="form-control col-12" placeholder="Bank Name" />
    </div>
    <div class="col-3">
    <label class="col-12"><b>Bank Account No </b></label>
	<input type="text"  ng-model="account" class="form-control col-12" placeholder="Bank Account Number" />
    </div>
    <div class="col-3">
    <label class="col-12"><b>Branch </b></label>
	<input type="text"  ng-model="branch" class="form-control col-12" placeholder="Branch" />
    </div>
    <div class="col-3">
    <label class="col-12"><b>Bank Ifsc Code </b></label>
	<input type="text"  ng-model="bankifsc" class="form-control col-12" placeholder="Ifsc Code" />
    </div>
    
    </div>
     <div class="row">
    <div class="col-3">
    <label class="col-12"><b>PF No </b></label>
	<input type="text"  ng-model="pfNo" class="form-control col-12" placeholder="PF No" />
    </div>
    <div class="col-3">
    <label class="col-12"><b>UAN No </b></label>
	<input type="text"  ng-model="uanNo" class="form-control col-12" placeholder="UAN No" />
    </div>
    <!-- <div class="col-3">
    <label class="col-12"><b>Branch </b></label>
	<input type="text"  ng-model="branch" class="form-control col-12" placeholder="Branch" />
    </div>
    <div class="col-3">
    <label class="col-12"><b>Bank Ifsc Code </b></label>
	<input type="text"  ng-model="bankifsc" class="form-control col-12" placeholder="Ifsc Code" />
    </div> -->
    
    </div>
    </fieldset>
     <!--  </div> -->
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
         <input type="Button" class='btn btn-primary addEmp' value="Add" ng-click="addItem(item)" />
		 <input type="Button" class='btn btn-primary updateEmp' value="Update" ng-click="updateItem(item)" />
          <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div> 
        
      </div>
    </div>
  </div>
</div>