<!-- 
<div class="container mt-5 pt-5" >
  <div class="card mx-auto border-0">
    <div class="card-header border-bottom-0 bg-transparent">
      <ul class="nav nav-tabs justify-content-center pt-4" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active text-primary" id="pills-login-tab" data-toggle="pill" data-target="#pills-login" role="tab" aria-controls="pills-login"
             aria-selected="true">Login</a>
        </li>

         <li class="nav-item">
          <a class="nav-link text-primary" id="pills-register-tab" data-toggle="pill" data-target="#pills-register"  role="tab" aria-controls="pills-register"
             aria-selected="false">Register</a>
        </li> 
      </ul>
    </div>

    <div class="card-body pb-4">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
          <form>
            <div class="form-group">
              <input type="text" name="username" class="form-control" id="username" ng-model="user.username" placeholder="Username" required autofocus>
            </div>

            <div class="form-group">
              <input type="password" name="password" class="form-control" id="password" ng-model="user.password" placeholder="Password" required>
            </div>

            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" id="customCheck1" checked="" type="checkbox">
              <label class="custom-control-label" for="customCheck1">Check me out</label>
            </div>

            <div class="text-center pt-4">
              <button type="submit" class="btn btn-primary" ng-click="loginSubmit(user.username);">Login</button>
            </div>

            <div class="text-center pt-2">
              <a class="btn btn-link text-primary" href="#">Forgot Your Password?</a>
            </div>
          </form>
        </div>

         <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="pills-register-tab">
          <form>
            <div class="form-group">
              <input type="text" name="username" id="name" class="form-control" placeholder="Username" required autofocus>
            </div>

            <div class="form-group">
              <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
            </div>

            <div class="form-group">
              <input type="password" name="password" id="regpassword" class="form-control" placeholder="Set a password" required>
            </div>

            <div class="form-group">
              <input type="password" name="password_confirmation" id="password-confirm" class="form-control" placeholder="Confirm password" required>
            </div>

            <div class="text-center pt-2 pb-1">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </form>
        </div> 
      </div>
    </div>
  </div>
</div>-->





<div style="/*background-image: url(img/bgImg.png);*/ background-image: linear-gradient(to bottom right,#182f4c,#33ccff)!important;margin-left: -6%;">
<div style="width: 100%; height: 100%;padding-bottom: 19%;" id="Div44" name="Div44" draggable="true" ondragstart="dragIn(event)" onclick="" class="div_DD">
<div style="height: auto;" id="Div2" name="Div2" draggable="true" ondragstart="dragIn(event)" onclick="" class="container div_DD">
<div style="width: 100%;height: 100%;" id="Div3" name="Div3" draggable="true" ondragstart="dragIn(event)" onclick="" class="row pt-5 div_DD">
<div style="width: 100%;height: 100%;" id="Div4" name="Div4" draggable="true" ondragstart="dragIn(event)" onclick="" class="col-md-7 col-lg-5 mx-auto pt-5 div_DD">
<div style="width: 100%;height: 90%;border-radius: 3%;box-shadow: currentcolor 0px 0px 35px !important;display: block;margin-left: 0 !important;" id="Div5" name="Div5" draggable="true" ondragstart="dragIn(event)" onclick="" class="card my-3 p-3 shadow-lg div_DD">
<div style="width: 100%; height: 100%;" id="Div6" name="Div6" draggable="true" ondragstart="dragIn(event)" onclick="" class="card-body div_DD selectedComp">
<div style="
    width: 100%;
    /* background: #000; */
    /* border-radius: 5%; */
    height: 20%;
" class="div_DD selectedComp">
<h3 style="color:white;font-size: 25px;text-align: center;color: #1995AD;">SSE</h3>

</div>
<!-- <h3 id="Heading33" name="Heading33" value="Title33" style="width: 20%;font-weight: bold;font-size: large;margin-left: 43%;font-family: cursive;" size="h3" onclick="" class="h3_DD" draggable="true" ondragstart="dragIn(event)">EAGLE</h3> --><hr class="hr_DD">
<div style="width: 100%;height: 10%;margin-bottom: 10%;" id="Div9" name="Div9" draggable="true" ondragstart="dragIn(event)" onclick="" class="div_DD wrap-input100 validate-input">
<input type="text" id="TextBox11" name="username" style="width: 100%;/* background: transparent; *//* border: none; *//* border-bottom: 1px solid #000000; */font-family: calibri !important;" draggable="true" ondragstart="dragIn(event)" onclick="" class="input_DD input-field" placeholder="UserName">  <!-- <label class="textspan" for="username">Email:</label> -->
</div>
<div style="width: 100%;height: 10%;margin-bottom: 10%;" id="Div10" name="Div10" draggable="true" ondragstart="dragIn(event)" onclick="" class="div_DD">
<input type="password" id="TextBox13" name="password" style="
    width: 100%;
    font-family: calibri !important;
" draggable="true" ondragstart="dragIn(event)" onclick="" class="input_DD" placeholder="Password" typr="password" value=""><!-- <label class="passSpan" for="username">Email:</label> -->
</div>
<div class="amaran-wrapper bottom right"><div class="amaran-wrapper-inner"></div></div><button id="Button15" type="button" draggable="true" ondragstart="dragIn(event)" name="Button15" style="
    font-family: calibri!important;
" onclick="selectComponent(event);login();" class="btn btn-lg btn-primary btn-block text-uppercase button_DD" value="Sign in">Sign in</button>
<div style="width: 100%;" id="Errors" name="Errors" draggable="true" ondragstart="dragIn(event)" onclick="" class="errorMessage div_DD"></div>


</div></div>

</div>

</div></div>
</div>
</div>