<div >
<div class="col-md-12">
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab"  bind-attr="Payment" role="tab" ng-click="navRedirect($event)">Payment</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="Receipt" role="tab" ng-click="navRedirect($event)">Receipt</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="view" role="tab" ng-click="navRedirect($event)">View</a>
	</li>
</ul><!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane active" id="Payment" role="tabpanel">
<h4>Payment</h4>
<div >
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="row" >
  <div class="col-4">
  <select ng-model="shipName" class="form-control" ng-change="selectShipperName()" style="display: block;margin: 2% auto;">
  <option value=""  selected>Select Shipper</option>
    <option   >Sai Store</option>
	<option   >Sri Store</option>
  </select>
  </div>
  <div class="col-4">
  <select ng-model="ConsName" class="form-control" ng-change="selectConsignorName()" style="display: block;margin: 2% auto;">
  <option value=""  selected>Select Consignor</option>
    <option   >SSS Store</option>
	<option   >ECO Store</option>
  </select>
  </div>
   <div class="col-4">
  <div class="input-group date" id="datetimepicker_repbill" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_repbill" placeholder="Bill Date"/>
        <div class="input-group-append" data-target="#datetimepicker_repbill" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="col-4">
  <select ng-model="shipPayBranch"  class="form-control " style="display: block;margin: 2% auto;">
  <option value=""  selected>Select ShipperBranch</option>
    <option >Trichy Branch</option>
	<option >Velacherry Branch</option>
	<option >Chennai Branch</option>
  </select>
 </div>
  <div class="col-4">
   <select ng-model="ConsPayBranch"  class="form-control " style="display: block;margin: 2% auto;">
  <option value=""  selected>Select ConsignorBranch</option>
    <option >Trichy Branch</option>
	<option >Velacherry Branch</option>
	<option >Chennai Branch</option>
  </select>
  </div>
   <div class="col-4"></div>
</div>
		      			<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<!-- <th width="2%"><input id="check_all" class="formcontrol" type="checkbox"></th> -->
									<th width="15%">InstrumentType</th>
									<th width="28%" ng-show="paymentJson.paymentType != 'Credit' && paymentJson.paymentType != 'Cash'">Date</th>
									<th width="15%">Amount</th>
									<!-- <th width="15%">Quantity</th>
									<th width="15%">Currency</th>
									<th width="15%">Exchange Rate</th> 
									<th width="15%">ProductTax</th>-->
									<th width="15%">TotalAmount  </th>
									<th width="15%">InstrumentNo</th>
									<th width="15%">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
										<!-- <td><input class="case" type="checkbox"></td> -->
										<td><!-- <input type="text"  id="productList" value="" class=" custom-select custom-select-sm" > -->
									            <select data-placeholder="Your Product"  class="form-control" tabindex="8" ng-model="paymentJson.paymentType">
									              <option value="">Select Inst_Type</option>
									              <option value="Credit">Credit</option>
									              <option value="Cheque">Cheque</option>
									              <option value="Cash">Cash</option>
									              <option value="NetBanking">Net Banking</option>
									              <option value="NEFT">NEFT</option>
									              <option value="RTGS">RTGS</option>
									            </select>
										</td>
										<td ng-show="paymentJson.paymentType != 'Credit' && paymentJson.paymentType != 'Cash'"><!-- <input type="text"  id="dateId" class="form-control " > -->
										<div class="input-group date" id="datetimepicker_instDate" data-target-input="nearest">
						                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_instDate" ng-model="paymentJson.instrumentDate" placeholder="Instrument Date"/>
						                  <div class="input-group-append" data-target="#datetimepicker_instDate" data-toggle="datetimepicker">
						                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                  </div>
						              </div>
										</td>
										<td><input type="number"  id="amt" ng-model="paymentJson.amount" class="form-control " ></td>
										<!-- <td> <input type="number"  id="qty" ng-model="paymentJson.quantity" class="form-control " ></td>
										<td> <select data-placeholder="Your Currency"  class="form-control" tabindex="8" ng-model="paymentJson.currency">
									              <option value="">Select Currency</option>
									              <option>INR</option>
									              <option>Dollar</option>
									            </select></td>
										<td><input type="number" id="exRate" class="form-control " ng-model="paymentJson.exRate"></td>
										<td>
										<select class="form-control " ng-model="paymentJson.tax" ng-change="calculatePaymentAmountTax(paymentJson.tax)">
											 <option value="0" selected>0%</option>
											 <option value="0.05">5%</option>
											 <option value="0.08">8%</option>
											 <option value="0.12">12%</option>
											 <option value="0.18">18%</option>
											 <option value="0.2">20%</option>
										</select>
										</td> -->
										<td><input type="number" id="total" class="form-control " ng-model="paymentJson.totalAmount"></td>
										<td><input type="number" id="inst_no" class="form-control " ng-model="paymentJson.instrumentNo"></td>
										<td> 
										<!-- <input name="" type="button" class="btn btn-primary" id="" value="View"> -->
									<!-- <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i> -->
									 <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
									
								</td>
								</tr>
							</tbody>
						</table>
		      		</div>
					<div class="pull-right">
					<input name="" type="button" class="btn btn-primary" id="" value="Print" style="margin-left: -20%;">
					<input name="" type="button" class="btn btn-primary" id="" value="Save" style="margin-left: -1%;">
					</div>
</div>
<div >
</div>
</div>
<div class="tab-pane" id="Receipt" role="tabpanel">
<h4>Receipt</h4>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="row"  >
  <div class="col-4">
  <select ng-model="shipperName" class="form-control" ng-change="selectShipperName()" style="display: block;margin: 2% auto;">
  <option value=""  selected>Select Shipper</option>
    <option   >Sai Store</option>
	<option   >Sri Store</option>
  </select>
  </div>
  <div class="col-4">
  <select ng-model="ConsignorName" class="form-control" ng-change="selectConsignorName()" style="display: block;margin: 2% auto;">
  <option value=""  selected>Select Consignor</option>
    <option   >SSS Store</option>
	<option   >ECO Store</option>
  </select>
  </div>
   <div class="col-4">
  <div class="input-group date" id="datetimepicker_repbill1" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_repbill1" placeholder="Bill Date"/>
        <div class="input-group-append" data-target="#datetimepicker_repbill1" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>
  </div>
</div>
<div class="row">
 <div class="col-4">
  <select ng-model="shipRepBranch"  class="form-control " style="display: block;margin: 2% auto;">
  <option value=""  selected>Select ShipperBranch</option>
    <option >Trichy Branch</option>
	<option >Velacherry Branch</option>
	<option >Chennai Branch</option>
  </select>
 </div>
  <div class="col-4">
   <select ng-model="ConsRepBranch"  class="form-control " style="display: block;margin: 2% auto;">
  <option value=""  selected>Select ConsignorBranch</option>
    <option >Trichy Branch</option>
	<option >Velacherry Branch</option>
	<option >Chennai Branch</option>
  </select>
  </div>
   <div class="col-4"></div>
</div>


		      			<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<!-- <th width="2%"><input id="check_all" class="formcontrol" type="checkbox"></th> -->
									<th width="15%">InstrumentType</th>
									<th width="28%">Date</th>
									<th width="15%">Amount</th>
									<th width="15%">Currency</th>
									<th width="15%">Ex Rate</th>
									<th width="15%">Total</th>
									<th width="15%">InstrumentNo</th>
									<th width="15%">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
										<!-- <td><input class="case" type="checkbox"></td> -->
										<td><!-- <input type="text"  id="productList" value="" class=" custom-select custom-select-sm" > -->
									            <select data-placeholder="Your Product"  class="chosen-select chosen-rtl" tabindex="8">
									              <option value="">Select Product</option>
									              <option>American Black Bear</option>
									              <option>Asiatic Black Bear</option>
									              <option>Brown Bear</option>
									              <option>Giant Panda</option>
									              <option>Sloth Bear</option>
									              <option >Sun Bear</option>
									              <option >Polar Bear</option>
									              <option >Spectacled Bear</option>
									            </select>
										</td>
										<td><input type="text"  id="dateId" class="form-control " ></td>
										<td><input type="number"  id="amt" class="form-control " ></td>
										<td> <select data-placeholder="Your Currency"  class="chosen-select chosen-rtl" tabindex="8">
									              <option value="">Select Currency</option>
									              <option>INR</option>
									              <option>Dollar</option>
									            </select></td>
										<td><input type="number" id="exRate" class="form-control " ></td>
										<td><input type="number" id="total" class="form-control "></td>
										<td><input type="number" id="inst_no" class="form-control "></td>
										<td> 
									<i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
									<i class="fa fa-trash fa-lg" aria-hidden="true"></i>
									
								</td>
								</tr>
							</tbody>
						</table>
		      		</div>
		      		<div class="pull-right">
					<input name="" type="button" class="btn btn-primary" id="" value="Print" style="margin-left: -20%;">
					<input name="" type="button" class="btn btn-primary" id="" value="Save" style="margin-left: -1%;">
					</div>
					
</div>

<div class="tab-pane"  id="view" role="tabpanel">
<div >
<h4>View Details</h4>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="row">
  <div class="col-md-2">
  <div class="form-group">
     <label for="inputEmail1">Select Product</label> 
	<select ng-model="shipperName" class="form-control" ng-change="selectShipperName()" style="display: block;margin: 2% auto;">
  	<option value=""  selected>Select Shipper</option>
    <option  >Sai Store</option>
	<option  >Sri Store</option>
  </select>
        </div>
  </div>
   <div class="col-md-2">
   <div class="form-group">
     <label for="inputEmail2">Select Payment</label> 
		<select ng-model="ConsignorName"  class="form-control"  ng-change="selectConsignorName()" style="display: block;margin: 2% auto;">
		<option value="" selected>Select Consignor</option>
	    <option >SSS Store</option>
		<option >ECO Store</option>
	  </select>
        </div>
  </div>
  <div class="col-md-2">
   <div class="form-group">
     <label for="inputEmail2">Select Customer</label> 
		<select ng-model="CustomerName"  class="form-control"  ng-change="selectCustomerName()" style="display: block;margin: 2% auto;">
		<option value="" selected>Select Customer</option>
	    <option >SSS Store</option>
		<option >ECO Store</option>
	  </select>
        </div>
  </div>
  <div class="col-md-2">
  <div class="form-group">
     <label for="inputEmail3">Select StartDate</label> 
		<div class="input-group date" id="datetimepicker_startBillDate1" data-target-input="nearest">
           <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_startBillDate1" placeholder="Bill Start Date">
           <div class="input-group-append" data-target="#datetimepicker_startBillDate1" data-toggle="datetimepicker">
               <div class="input-group-text"><i class="fa fa-calendar"></i></div>
           </div>
       </div>
        </div>
  </div>
  <div class="col-md-2">
  <div class="form-group">
     <label for="inputEmail3">Select EndDate</label> 
		<div class="input-group date" id="datetimepicker_endBillDate2" data-target-input="nearest">
           <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_endBillDate2" placeholder="Bill End Date">
           <div class="input-group-append" data-target="#datetimepicker_endBillDate2" data-toggle="datetimepicker">
               <div class="input-group-text"><i class="fa fa-calendar"></i></div>
           </div>
       </div>
        </div>
  </div>
  <div class="col-md-2">
  <div class="form-group">
    <input name="" type="button" class="btn btn-primary" id="" value="Search" style="margin-top: 14%;">
        </div>
  </div>
  </div>
      			<table class="table table-bordered table-hover">
							<thead>
								<tr>
									<!-- <th width="2%"><input id="check_all" class="formcontrol" type="checkbox"></th> -->
									<th width="15%">InvoiceNo</th>
									<th width="15%">CustomerName</th>
									<th width="15%">Product</th>
									<th width="15%">Amount</th>
									<th width="15%">Date</th>
									<!-- <th width="15%">Quantity</th>
									<th width="15%">Tax</th>
									<th width="15%">Currency</th>
									<th width="15%">Total</th> -->
									<th width="15%">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
										<td><label></label></td>
										<td><label></label></td>
										<!-- <td><input class="case" type="checkbox"></td> -->
										<td><!-- <input type="text"  id="productList" value="" class=" custom-select custom-select-sm" > -->
									            <select data-placeholder="Your Product"  class="form-control " tabindex="8">
									              <option value="">Select Product</option>
									              <option>American Black Bear</option>
									              <option>Asiatic Black Bear</option>
									              <option>Brown Bear</option>
									              <option>Giant Panda</option>
									              <option>Sloth Bear</option>
									              <option >Sun Bear</option>
									              <option >Polar Bear</option>
									              <option >Spectacled Bear</option>
									            </select>
										</td>
										<td><input type="text"  id="amt" class="form-control " ></td>
										<td> <input type="text"  id="dateAsBill" class="form-control " > 
										<!-- <div class="input-group date" id="datetimepicker_billvenDate" data-target-input="nearest">
						                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_billvenDate" placeholder="Bill Date"/>
						                  <div class="input-group-append" data-target="#datetimepicker_billvenDate" data-toggle="datetimepicker">
						                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                  </div>
						              </div> -->
										</td>
										<!-- <td><input type="number"  id="qty" class="form-control " ></td>
										<td><input type="number" id="tax" class="form-control "></td>
										<td>
										<select class="form-control ">
											 <option value=""  selected>Select Currency</option>
											 <option  >INR</option>
											 <option  >USD</option>
											 <option  >EURO</option>
										</select>
										</td>
										<td><input type="number" id="total" class="form-control "></td> -->
										<td> 
										<input name="" type="button" class="btn btn-primary" id="" value="View">
										</td>
								</tr>
							</tbody>
						</table>
		      		</div>
		      		<div class="pull-right">
					<input name="" type="button" class="btn btn-primary" id="" value="Print" style="margin-left: 20%;">
					</div>
					
</div>
	</div>

</div>
</div>
</div>