<div ng-controller="UserController">
<div>
<input name="" type="button"  style="float: right;margin: 1%; " class="btn btn-primary" id="" value="Create" ng-click="createUser()" >
<table id="manage-user-table" class="custTable" datatable="ng" dt-options="um.dtUser" dt-columns="um.dtUserColumns" style="width: 90%;">
					<thead>
						<tr>
							 <th scope="col">
								<div class="checkbox">
									<label>
										<input type="checkbox" value="">
									</label>
								</div>
							</th> 
							<th scope="col"><h5>UserId</h5></th>
							<th scope="col"><h5>User Name</h5></th>
							<th scope="col" ><h5>Email</h5></th>
							<th scope="col"><h5>User Role</h5></th>
							<th scope="col" ><h5>Access</h5></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="list in  listUserJson track by $index">
							 <td>
								<div class="checkbox">
									<label>
										<input  type="checkbox" value="">
									</label>
								</div>
							</td> 
							<td>{{list.userId}}</td>
							<td>{{list.userName}}</td>
							<td>{{list.email}}</td>
							<td>{{list.userRole}}</td>
								<td style="width: 13%;"> 
									<input name="" type="button" data-toggle="modal"
									style=" height: 26px; padding-top: 2px; position: relative; "
									class="btn btn-primary" id="" value="Edit"
									ng-click="editCustomer(list,$event)">
									<input name="" type="button" data-toggle="modal"
									style=" height: 26px; padding-top: 2px; position: relative; "
									class="btn btn-danger" id="" value="Delete"
									ng-click="removeItem($index)" >
								</td>
							</tr>
					</tbody>
				</table>
</div>
<!-- The Modal -->
  <div class="modal fade" id="usrModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" >
      <div class="modal-content">
      
        <!-- Modal Header  -->
        <div class="modal-header">
          <h4 class="modal-title"> Add New User</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> 
        
        <!-- Modal body -->
        <div class="modal-body">
          <div class='addItems'>
        <table id='addData'>
         
          <tr>
            <!-- <td colspan="1" class="usrId">
              <label>ID:</label>
            </td> -->
            <td colspan="1" class="usrId">
              <input type="text" ng-model="item.userId"  placeholder="ID" />
            </td>
            <td colspan="1">
              <input type="text" ng-model="item.userName"  placeholder="UserName"/>
            </td>
             <td colspan="1">
              <input type="text" ng-model="item.email"   placeholder="Email"/> 
              </td>
            </tr>
			<tr>
              <td colspan="1">
                <select ng-model="item.userRole"  tabindex="8">
		              <option value="">Select UserRole</option>
		              <option>Supervisor</option>
		              <option>Employee</option>
		              <option>Manager</option>
		              <option>SalesExecutive</option>
		      </select>
              </td>
              <td colspan="1">
                <input type='text' ng-model="item.password"  placeholder="Password"/>
              </td>
               <td colspan="1">
              <input type="text" ng-model="item.retypepassword"  ng-keyup="checkPasswordMatch()" placeholder="Retype Password"/> 
              </td>
              <td colspan="1">
              <i class="fa fa-check-circle" aria-hidden="true" class="correctCheck"  ng-show="item.password == item.retypepassword " style="color: green;"></i>
              <i class="fa fa-times-circle" aria-hidden="true"  class="wrongCheck"   ng-show="item.password != item.retypepassword "style="color: red;"></i>
              </td>
            </tr>
            <!--<tr>
              <td colspan="1">
                <label>Role:</label>
              </td>
              <td colspan="1">
              <input type="text" ng-model="item.empRole" /> 
              </td>
              <td colspan="1">
                <label>Designation:</label>
              </td>
              <td colspan="1">
                <input type='text' ng-model="item.designation" />
              </td>
            </tr> 
            <tr>
              <td colspan="1"></td>
              <td colspan="1">
                <input type="Button" class='addUsr' value="Add" ng-click="addItem(item)" />
				<input type="Button" class='updateUsr' value="Update" ng-click="updateItem(item)" />
              </td>
              <td colspan="1"></td>
              <td colspan="1">
                <input type="button" class="close" data-dismiss="modal" value="Done" />
              </td>
            </tr> -->
        </table>
      </div>
        </div>
        
        <!-- Modal footer   -->
        <div class="modal-footer">
        <input type="Button" class='btn btn-primary addUsr' value="Add" ng-click="addItem(item)" />
		<input type="Button" class='btn btn-primary updateUsr' value="Update" ng-click="updateItem(item)" />
        <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
        </div>
        
      </div>
    </div>
  </div>
</div>