<div class="col-md-12">
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab"  bind-attr="customerCredit" role="tab" ng-click="navVoucherRedirect($event)">Customer Payment</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="vendorCredit" role="tab" ng-click="navVoucherRedirect($event)">Vendor Payment</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="customerCheque" role="tab" ng-click="navVoucherRedirect($event)">Customer Cheque</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="vendorCheque" role="tab" ng-click="navVoucherRedirect($event)">Vendor Cheque</a>
	</li>
</ul><!-- Tab panes -->

<div class="tab-content">
<div class="tab-pane active" id="customerCredit" role="tabpanel">

<h4>Customer Credit</h4>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="filterDiv">
<div class="row" style="margin-top: 1%;">
 <div class="col-3">
<label class="col-12"><b>FROM </b></label>
  
  <div class="input-group date" id="datetimepicker_customerfromcredit" data-target-input="nearest">
     <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_customerfromcredit" ng-model="customerPayment.fromdate" placeholder="From Date"/>
        <div class="input-group-append" data-target="#datetimepicker_customerfromcredit" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		</div>
		</div>
	</div>


	 <div class="col-3">
	  <label class="col-12"><b>TO </b></label>
	  <div class="input-group date" id="datetimepicker_customertocredit" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_customertocredit" ng-model="customerPayment.todate" placeholder="To Date"/>
        <div class="input-group-append" data-target="#datetimepicker_customertocredit" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

  </div>
  <!-- <div class="col-2">
		<label class="col-12"><b>CUSTOMER </b></label>
	 	<select ng-model="customerPayment.customername"  class="form-control" style="display: block;margin: 2% auto;">
		<option value="" selected>Select Customer</option>
		<option ng-repeat="custView in customerpaymentList | unique:'customername'" value="{{custView.customername}}">{{custView.customername}}</option>
	  </select> 
	 
	 </div> -->
	
     <div class="col-2">
		<input name="" type="button" class="btn btn-dark" id="" value="Search" ng-click="searchcustCreditItem()" style="margin-top:15%">
	 </div> 
 </div>
</div>

<div class="row" style="margin-top: 1%;">
 <div class="col-6">
 <table  id="manage-custCredit-table"  datatable="ng" dt-options="cc.dtOptions" dt-instance="cc.dtInstance"  class="table table-bordered row-border hover" >
 <thead>
								<tr>
									<th width="15%">InstrumentType</th>
									<th width="28%" >Date</th>
									<th width="15%">Amount</th>
									<th width="15%">InstrumentNo</th>
									<th width="15%">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pay in  track by $index">
										<td>
									            <select data-placeholder="Your Product"  class="form-control" tabindex="8" ng-model="pay.paymentType">
									              <option value="">Select Inst_Type</option>
									              <option value="Credit">Credit</option>
									              <option value="Cheque">Cheque</option>
									              <option value="Cash">Cash</option>
									              <option value="NetBanking">Net Banking</option>
									              <option value="NEFT">NEFT</option>
									              <option value="RTGS">RTGS</option>
									            </select>
										</td>
										<td >
										<div class="input-group date" id="datetimepicker_veninstDate" data-target-input="nearest" ng-show="pay.paymentType != 'Credit' && pay.paymentType != 'Cash'">
						                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_veninstDate" ng-model="pay.instrumentDate" placeholder="Instrument Date"/>
						                  <div class="input-group-append" data-target="#datetimepicker_veninstDate" data-toggle="datetimepicker">
						                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                  </div>
						              </div>
										</td>
										<td><input type="number"  id="amt" ng-model="pay.amount" class="form-control " ></td>
										<td><input type="number" id="inst_no" class="form-control " ng-model="pay.instrumentNo"></td>
										<td> 
									 <i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addNewpayment()"></i> 
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-show="$index > 0" ng-click="deletepaymentIndex($index);"></i>
									
								</td>
								</tr>
							</tbody>
  </table>
  </div> 
  <div class="col-6">
  <table  id="manage-custDedit-table"  datatable="ng" dt-options="cd.dtOptions" dt-instance="cd.dtInstance"  class="table table-bordered row-border hover" >
 <thead>
								<tr>
									<th width="15%">InstrumentType</th>
									<th width="28%" >Date</th>
									<th width="15%">Amount</th>
									<th width="15%">InstrumentNo</th>
									<th width="15%">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pay in  track by $index">
										<td>
									            <select data-placeholder="Your Product"  class="form-control" tabindex="8" ng-model="pay.paymentType">
									              <option value="">Select Inst_Type</option>
									              <option value="Credit">Credit</option>
									              <option value="Cheque">Cheque</option>
									              <option value="Cash">Cash</option>
									              <option value="NetBanking">Net Banking</option>
									              <option value="NEFT">NEFT</option>
									              <option value="RTGS">RTGS</option>
									            </select>
										</td>
										<td >
										<div class="input-group date" id="datetimepicker_veninstDate" data-target-input="nearest" ng-show="pay.paymentType != 'Credit' && pay.paymentType != 'Cash'">
						                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_veninstDate" ng-model="pay.instrumentDate" placeholder="Instrument Date"/>
						                  <div class="input-group-append" data-target="#datetimepicker_veninstDate" data-toggle="datetimepicker">
						                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                  </div>
						              </div>
										</td>
										<td><input type="number"  id="amt" ng-model="pay.amount" class="form-control " ></td>
										<td><input type="number" id="inst_no" class="form-control " ng-model="pay.instrumentNo"></td>
										<td> 
									 <i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addNewpayment()"></i> 
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-show="$index > 0" ng-click="deletepaymentIndex($index);"></i>
									
								</td>
								</tr>
							</tbody>
  </table> 
  </div>
 </div>



</div>
</div>


<div class="tab-pane" id="vendorCredit" role="tabpanel">
</div>

<div class="tab-pane"  id="customerCheque" role="tabpanel">
</div>

<div class="tab-pane"  id="vendorCheque" role="tabpanel">
</div>

</div>

</div>