<div class="col-md-12">
<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" data-toggle="tab"  bind-attr="customerCredit" role="tab" ng-click="navVoucherRedirect($event)">Customer Credit</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="vendorCredit" role="tab" ng-click="navVoucherRedirect($event)">Vendor Credit</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="customerCheque" role="tab" ng-click="navVoucherRedirect($event)">Customer Cheque</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab"  bind-attr="vendorCheque" role="tab" ng-click="navVoucherRedirect($event)">Vendor Cheque</a>
	</li>
</ul><!-- Tab panes -->

<div class="tab-content">
<div class="tab-pane active" id="customerCredit" role="tabpanel">
<div style="background-color: #005D84;padding: 10px;">
<h4 style="color: white;font-weight: bold;font-style: normal;text-align: center;">Customer Credit</h4></div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 <div class="filterDiv">
<div class="row" style="margin-top: 1%;">
 <!-- <div class="col-3">
<label class="col-12"><b>FROM </b></label>
  
  <div class="input-group date" id="datetimepicker_customerfromcredit" data-target-input="nearest">
     <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_customerfromcredit" ng-model="customerPayment.fromdate" placeholder="From Date"/>
        <div class="input-group-append" data-target="#datetimepicker_customerfromcredit" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
		</div>
		</div>
	</div>


	 <div class="col-3">
	  <label class="col-12"><b>TO </b></label>
	  <div class="input-group date" id="datetimepicker_customertocredit" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_customertocredit" ng-model="customerPayment.todate" placeholder="To Date"/>
        <div class="input-group-append" data-target="#datetimepicker_customertocredit" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>

  </div> -->
   <div class="col-2">
		<label class="col-12"><b>CUSTOMER </b></label>
	 	<select ng-model="customerVoucher.customername"  class="form-control" style="display: block;margin: 2% auto;">
		<option value="" selected>Select Customer</option>
		<option ng-repeat="custView in customerVoucherList | unique:'customername'" value="{{custView.customername}}">{{custView.customername}}</option>
	  </select> 
	 
	 </div> 
	
     <div class="col-2">
		<input name="" type="button" class="btn btn-dark" id="" value="Search" ng-click="searchcustCreditItem(customerVoucher.customername)" style="margin-top:15%">
	 </div> 
 </div>
</div> 

<div class="row" style="margin-top: 1%;">
 <div class="col-6">
 <table  id="manage-custCredit-table"  datatable="ng" dt-options="cc.dtOptions" dt-instance="cc.dtInstance"  class="table table-bordered row-border hover" >
 <thead>
								<tr>
								<th width="15%"></th>
									<th width="15%">InstrumentType</th>
									<th width="28%" >Date</th>
									<th width="15%">Amount</th>
									<th width="15%">Bal.Amt</th>
									<th width="15%">InstrumentNo</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pay in custCreditList | filter: greaterThan">
								<td><input  type="checkbox" value="" ng-model="pay.checked"  ng-click="checkcustVoucherInArray($index,pay)"></td>
										<td>
									            <label>{{pay.paymenttype}}</label>
										</td>
										<td >
										 <label>{{pay.instrumentdate}}</label>
										<!-- <div class="input-group date" id="datetimepicker_custCreditDate" data-target-input="nearest" >
						                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_custCreditDate" ng-model="pay.instrumentdate" placeholder="Instrument Date"/>
						                  <div class="input-group-append" data-target="#datetimepicker_custCreditDate" data-toggle="datetimepicker">
						                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                  </div>
						              </div> -->
										</td>
										<td> <label>{{pay.amount}}</label></td>
										<td> <label>{{pay.balanceamount}}</label></td>
										<td> <label>{{pay.instrumentno}}</label></td>
										<!-- <td><label class="badge" ng-class="{'badge-danger': pay.status == 'Pending','badge-success': pay.status == 'Completed'}">{{pay.status}}</label></td> -->
										<!-- <td> 
									 <i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addNewpayment()"></i> 
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-show="$index > 0" ng-click="deletepaymentIndex($index);"></i>
									</td> -->
								</tr>
							</tbody>
  </table>
  </div> 
  <div class="col-6">
  <table  id="manage-custDedit-table"  datatable="ng" dt-options="cd.dtOptions" dt-instance="cd.dtInstance"  class="table table-bordered row-border hover" >
 <thead>
								<tr>
									<!-- <th width="15%"></th> -->
									<th width="28%" >Date</th>
									<th width="15%">InstrumentType</th>
									<th width="15%">Amount</th>
									<th width="15%">Bal.Amt</th>
									<th width="15%">InstrumentNo</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="pay in custCreditList | filter: nonCredit">
								<!-- <td><input  type="checkbox" value="" ng-model="pay.checked"  ng-click="checkcustVoucherStatusInArray($index)"></td> -->
										
										<td >
										 <label>{{pay.instrumentdate}}</label>
										<!-- <div class="input-group date" id="datetimepicker_custCreditDate" data-target-input="nearest" >
						                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_custCreditDate" ng-model="pay.instrumentdate" placeholder="Instrument Date"/>
						                  <div class="input-group-append" data-target="#datetimepicker_custCreditDate" data-toggle="datetimepicker">
						                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                  </div>
						              </div> -->
										</td>
										<td>
									            <label>{{pay.paymenttype}}</label>
										</td>
										<td> <label>{{pay.amount}}</label></td>
										<td> <label>{{pay.balanceamount}}</label></td>
										<td> <label>{{pay.instrumentno}}</label></td>
										<!-- <td><label class="badge" ng-class="{'badge-danger': pay.status == 'Pending','badge-success': pay.status == 'Completed'}">{{pay.status}}</label></td> -->
										<!-- <td> 
									 <i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addNewpayment()"></i> 
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-show="$index > 0" ng-click="deletepaymentIndex($index);"></i>
									</td> -->
								</tr>
							</tbody>
  </table> 
  </div>
 </div>
<hr>
<div class="row" style="margin-top: 1%;">
<table class="table table-bordered row-border hover">
<tbody>
<tr>
<td>
<input name="" type="button" class="btn btn-dark" id="" value="Match" ng-click="makecustMatches()" >
</td>
<td><label>{{commoncustMatches.totalcreditamount}}</label></td>
<td><label>{{commoncustMatches.totalotheramount}}</label></td>
<td>
<input name="" type="button" class="btn btn-dark" id="" value="Ok" ng-click="checkandSave()" >
</td>
</tr>
</tbody>

</table>

</div>

</div>
</div>


<div class="tab-pane" id="vendorCredit" role="tabpanel">
<div style="background-color: #005D84;padding: 10px;">
<h4 style="color: white;font-weight: bold;font-style: normal;text-align: center;">Vendor Credit</h4></div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="filterDiv">
<div class="row" style="margin-top: 1%;">
   <div class="col-2">
		<label class="col-12"><b>VENDOR </b></label>
	 	<select ng-model="vendorVoucher.vendorname"  class="form-control" style="display: block;margin: 2% auto;">
		<option value="" selected>Select Vendorname</option>
		<option ng-repeat="custView in vendorVoucherList | unique:'vendorname'" value="{{custView.vendorname}}">{{custView.vendorname}}</option>
	  </select> 
	 
	 </div> 
	
     <div class="col-2">
		<input name="" type="button" class="btn btn-dark" id="" value="Search" ng-click="searchvenCreditItem(vendorVoucher.vendorname)" style="margin-top:15%">
	 </div> 
 </div>
</div>
<div class="row" style="margin-top: 1%;">
 <div class="col-6">
 <table  id="manage-venCredit-table"  datatable="ng" dt-options="vc.dtOptions" dt-instance="vc.dtInstance"  class="table table-bordered row-border hover" >
 <thead>
								<tr>
								<th width="15%"></th>
									<th width="15%">InstrumentType</th>
									<th width="28%" >Date</th>
									<th width="15%">Amount</th>
									<th width="15%">Bal.Amt</th>
									<th width="15%">InstrumentNo</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ven in venCreditList | filter: greaterThan">
								<td><input  type="checkbox" value="" ng-model="ven.checked"  ng-click="checkvenVoucherInArray($index,ven)"></td>
										<td>
									            <label>{{ven.paymenttype}}</label>
										</td>
										<td >
										 <label>{{ven.instrumentdate}}</label>
										<!-- <div class="input-group date" id="datetimepicker_custCreditDate" data-target-input="nearest" >
						                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_custCreditDate" ng-model="pay.instrumentdate" placeholder="Instrument Date"/>
						                  <div class="input-group-append" data-target="#datetimepicker_custCreditDate" data-toggle="datetimepicker">
						                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                  </div>
						              </div> -->
										</td>
										<td> <label>{{ven.amount}}</label></td>
										<td> <label>{{ven.balanceamount}}</label></td>
										<td> <label>{{ven.instrumentno}}</label></td>
										<!-- <td><label class="badge" ng-class="{'badge-danger': pay.status == 'Pending','badge-success': pay.status == 'Completed'}">{{pay.status}}</label></td> -->
										<!-- <td> 
									 <i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addNewpayment()"></i> 
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-show="$index > 0" ng-click="deletepaymentIndex($index);"></i>
									</td> -->
								</tr>
							</tbody>
  </table>
  </div> 
  <div class="col-6">
  <table  id="manage-venDedit-table"  datatable="ng" dt-options="vd.dtOptions" dt-instance="vd.dtInstance"  class="table table-bordered row-border hover" >
 <thead>
								<tr>
									<!-- <th width="15%"></th> -->
									<th width="28%" >Date</th>
									<th width="15%">InstrumentType</th>
									<th width="15%">Amount</th>
									<th width="15%">Bal.Amt</th>
									<th width="15%">InstrumentNo</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ven in venCreditList | filter: nonCredit">
								<!-- <td><input  type="checkbox" value="" ng-model="pay.checked"  ng-click="checkcustVoucherStatusInArray($index)"></td> -->
										
										<td >
										 <label>{{ven.instrumentdate}}</label>
										<!-- <div class="input-group date" id="datetimepicker_custCreditDate" data-target-input="nearest" >
						                  <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_custCreditDate" ng-model="pay.instrumentdate" placeholder="Instrument Date"/>
						                  <div class="input-group-append" data-target="#datetimepicker_custCreditDate" data-toggle="datetimepicker">
						                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
						                  </div>
						              </div> -->
										</td>
										<td>
									            <label>{{ven.paymenttype}}</label>
										</td>
										<td> <label>{{ven.amount}}</label></td>
										<td> <label>{{ven.balanceamount}}</label></td>
										<td> <label>{{ven.instrumentno}}</label></td>
										<!-- <td><label class="badge" ng-class="{'badge-danger': pay.status == 'Pending','badge-success': pay.status == 'Completed'}">{{pay.status}}</label></td> -->
										<!-- <td> 
									 <i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addNewpayment()"></i> 
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-show="$index > 0" ng-click="deletepaymentIndex($index);"></i>
									</td> -->
								</tr>
							</tbody>
  </table> 
  </div>
 </div>
<hr>
<div class="row" style="margin-top: 1%;">
<table class="table table-bordered row-border hover">
<tbody>
<tr>
<td>
<input name="" type="button" class="btn btn-dark" id="" value="Match" ng-click="makevenMatches()" >
</td>
<td><label>{{commonvenMatches.totalcreditamount}}</label></td>
<td><label>{{commonvenMatches.totalotheramount}}</label></td>
<td>
<input name="" type="button" class="btn btn-dark" id="" value="Ok" ng-click="checkandSavevendor()" >
</td>
</tr>
</tbody>

</table>

</div>

</div>



</div>

<div class="tab-pane"  id="customerCheque" role="tabpanel">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div style="background-color: #005D84;padding: 10px;">
<h4 style="color: white;font-weight: bold;font-style: normal;text-align: center;">Customer Cheque</h4></div>
<div class="row" style="margin-top: 1%;">
 <table  id="manage-custCheque-table"  datatable="ng" dt-options="ccq.dtOptions" dt-instance="ccq.dtInstance"  class="table table-bordered row-border hover" >
 <thead>
								<tr>
								<th width="15%"></th>
									<th width="15%">InstrumentType</th>
									<th width="28%" >Instrument Date</th>
									<th width="15%">Amount</th>
									<th width="15%">InstrumentNo</th>
									<th width="15%">Status</th>
									
								</tr>
							</thead>
							<tbody><!-- | filter: custChequeFilter -->
								<tr ng-repeat="custcheque in custChequeList  track by $index">
								<td><input  type="checkbox" value="" ng-model="custcheque.checked"  ng-click="checkcustChequeInArray($index,custcheque)"></td>
										<td>
									            <label>{{custcheque.paymenttype}}</label>
										</td>
										<td >
										 <label>{{custcheque.instrumentdate}}</label>
										</td>
										<td> <label>{{custcheque.amount}}</label></td>
										
										<td> <label>{{custcheque.instrumentno}}</label></td>
										<td>  <!-- <label>{{custcheque.status}}</label>  -->
										
										 <select ng-model="custcheque.status"  class="form-control" style="display: block;margin: 2% auto;color: white;outline: 0;box-shadow: none;border: 0 !important;background: #2c3e50; background-image: none;">
											<option value="">Select Customer</option>
											<option  ng-repeat="value in statusCheque" 
							                      value="{{value}}">{{value}}     
							              </option>
											<!-- <option value="Pending">Pending</option>
											<option value="Paid">Paid</option>
											<option value="Realized">Realized</option>
											<option value="Presentated">Presentated</option> -->
										  </select>
										</td>
										<!-- <td><label class="badge" ng-class="{'badge-danger': pay.status == 'Pending','badge-success': pay.status == 'Completed'}">{{pay.status}}</label></td> -->
										<!-- <td> 
									 <i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addNewpayment()"></i> 
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-show="$index > 0" ng-click="deletepaymentIndex($index);"></i>
									</td> -->
								</tr>
							</tbody>
  </table>
  </div> 
  
 <div class="row" style="margin-top: 1%;">
 <div style="margin: 0 auto;">
<input name="" type="button" class="btn btn-dark" id="" value="Submit" ng-click="submitcustCheque()"></div>
</div>
</div>
</div>

<div class="tab-pane"  id="vendorCheque" role="tabpanel">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div style="background-color: #005D84;padding: 10px;">
<h4 style="color: white;font-weight: bold;font-style: normal;text-align: center;">Vendor Cheque</h4></div>
<div class="row" style="margin-top: 1%;">
 <table  id="manage-venCheque-table"  datatable="ng" dt-options="vcq.dtOptions" dt-instance="vcq.dtInstance"  class="table table-bordered row-border hover" >
 <thead>
								<tr>
								<th width="15%"></th>
									<th width="15%">InstrumentType</th>
									<th width="28%" >Instrument Date</th>
									<th width="15%">Amount</th>
									<th width="15%">InstrumentNo</th>
									<th width="15%">Status</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="vencheque in venChequeList  track by $index">
								<td><input  type="checkbox" value="" ng-model="vencheque.checked"  ng-click="checkvenChequeInArray($index,vencheque)"></td>
										<td>
									            <label>{{vencheque.paymenttype}}</label>
										</td>
										<td >
										 <label>{{vencheque.instrumentdate}}</label>
										</td>
										<td> <label>{{vencheque.amount}}</label></td>
										
										<td> <label>{{vencheque.instrumentno}}</label></td>
										<td> 
										<select ng-model="vencheque.status"  class="form-control" style="display: block;margin: 2% auto;color: white;outline: 0;box-shadow: none;border: 0 !important;background: #2c3e50; background-image: none;">
											<option value="">Select Customer</option>
											<option ng-selected="{{value ==vencheque.status}}" ng-repeat="value in statusCheque"  value="{{value}}">{{value}}</option>
										  </select>
										</td>
										<!-- <td><label class="badge" ng-class="{'badge-danger': pay.status == 'Pending','badge-success': pay.status == 'Completed'}">{{pay.status}}</label></td> -->
										<!-- <td> 
									 <i class="fa fa-plus-circle fa-lg" aria-hidden="true" ng-click="addNewpayment()"></i> 
									 <i class="fa fa-trash fa-lg" aria-hidden="true" ng-show="$index > 0" ng-click="deletepaymentIndex($index);"></i>
									</td> -->
								</tr>
							</tbody>
  </table>
  </div> 
  <div class="row" style="margin-top: 1%;">
 <div style="margin:0 auto;">
<input name="" type="button" class="btn btn-dark" id="" value="Submit" ng-click="submitvenCheque()"></div>
</div>
</div>

</div>

</div>

</div>